extends ../partials/layout

block head
    title Editar año

block content
    div(ng-app="dashboard")
        div
            include ../partials/navbar
        div.container-fluid
            div.row
                include ../partials/sidebar
                div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ng-controller="EditarAnyoController")
                    h1.page-header(style="padding-top: 0px;") Editar año

                    form.form-horizontal(style="margin-top: 15px")
                        div.form-group
                            label.col-sm-2.control-label Nombre:
                            div.col-sm-4
                                input(ng-model="registro.name").form-control

                        div.form-group
                            div.col-sm-2.col-sm-offset-2
                                a.btn.btn-default(href="/admin/euromillones/anyos", role="button")#cancel Cancelar
                            div.col-sm-2(style="text-align:right")
                                a.btn.btn-default.btn-primary(href="#", role="button", ng-click="guardar()")#confirmarEliminacion Aceptar

                        include ../../modals/registroEditadoCorrectamente

block scripts
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/angular.js")
    script(src='/js/angular/admin/dashboard.js')
    script(src="/js/angular/admin/euromillones/editarAnyo.js")
    script(src="/js/angular/admin/navbar.js")
    script(src="/js/angular/admin/sidebar.js")
    script(src='/js/angular/ui-bootstrap-tpls-0.11.2.js')
