div.table-responsive(style="margin-top: 15px", data-ng-if="mostrarCombinacionesSucedidas", data-ng-cloak)
    table.table.table-bordered.col-md-12.col-sm-12.col-xs-12
        thead
            tr
                th
                th(data-ng-bind-template="Resultado")
                th(data-ng-bind-template="Apariciones")

        tbody
            tr(data-ng-repeat="combinacion in resultadosSucedidos | orderBy:'value'")
                td(data-ng-bind-template="{{$index+1}}")
                td
                    span.badge.badge-azul(data-ng-repeat="resultado in combinacion.resultados", data-ng-bind-template="{{resultado.resultado}}")
                td(data-ng-bind-template="{{combinacion.apariciones}}")
