div.footer.footerPrimitiva#footer
    div.container(data-ng-controller="FooterController")
        div.row
            div.col-sm-6.col-xs-12.text-center(style="padding-top:10px")
                h2 Pronostigol
                h3
                    a(href="/politicaDeCookies") Pol&iacute;tica de Cookies
                h3
                    a(href="/preguntasFrecuentes") Preguntas frecuentes
                h3
                    a(href="/docs", target="_blank") Documentación de API Rest
            div.col-sm-6.col-xs-12.text-center(style="padding-top:10px")
                h2 Juegos
                h3
                    a(href="/quiniela") Quiniela
                h3
                    a(href="/bonoloto") Bonoloto
                h3
                    a(href="/primitiva") La Primitiva
                h3
                    a(href="/gordo") El Gordo de la Primitiva
                h3
                    a(href="/euromillones") Euromillones
        div.row
            div.col-xs-12.text-center(style="padding-top: 10px")
                ul#social-links.list-inline
                    li
                        a(href="https://www.facebook.com/pronostigol.es", target="_blank")
                            i.fa.fa-facebook-square.fa-2x
                    li
                        a(href="https://twitter.com/pronostigolesp", target="_blank")
                            i.fa.fa-twitter-square.fa-2x
                    li
                        a(href="https://github.com/jualoppaz/pronostigol", target="_blank")
                            i.fa.fa-github-square.fa-2x
            div.col-xs-12.text-center
                ul.list-inline
                    li(style="vertical-align: top")
                        div.fb-like(data-href="https://www.facebook.com/pronostigol.es", data-layout="button", data-action="like", data-size="small", data-show-faces="false", data-share="false")
                    li(style="vertical-align: top")
                        a.twitter-share-button(href="https://twitter.com/share?ref_src=twsrc%5Etfw", data-show-count="false", data-text="📊 Pronostigol | Estadísticas de Loterías y Apuestas del Estado", data-url="http://www.pronostigol.es", data-via="pronostigolesp") Twittear

            div.col-xs-12.text-center(style="padding-top: 10px")
                h3
                    i.fa.fa-copyright(aria-hidden="true")
                    span#copyright 2014 Pronostigol, Desarrollado por
                    a(href="http://www.juanmanuellopezpazos.es", target="_blank") Juan Manuel López Pazos