div.table-responsive(style="margin-top: 15px", ng-if="mostrar.tablaAparicionesPorResultado", ng-cloak)
    table.table.table-bordered.col-md-12.col-sm-12.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorResultadoSegun('resultadoAsString'); consultarEstandar()", ng-bind-template="Resultado", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorResultado == 'resultadoAsString' && !ordenAparicionesPorResultado").fa.fa-caret-up
                    span(ng-if="criterioOrdenacionAparicionesPorResultado == 'resultadoAsString' && ordenAparicionesPorResultado").fa.fa-caret-down
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorResultadoSegun('occurrences'); consultarEstandar()", ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorResultado == 'occurrences' && ordenAparicionesPorResultado").fa.fa-caret-down
                    span(ng-if="criterioOrdenacionAparicionesPorResultado == 'occurrences' && !ordenAparicionesPorResultado").fa.fa-caret-up

        tbody
            tr(ng-repeat="item in aparicionesPorResultado")
                td
                    span.badge.badge-azul(ng-repeat="numero in item.resultado", ng-bind-template="{{printNumber(numero.numero)}}", ng-cloak)
                td(ng-bind-template="{{item.apariciones}}")