div.table-responsive(style="margin-top: 15px", ng-show="mostrar.tablaAparicionesPorResultado", ng-cloak)
    table.table.table-bordered.col-md-12.col-sm-12.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorResultadoSegun('resultadoString')", ng-bind-template="Resultado", style="padding-right: 15px")
                    span(ng-show="criterioOrdenacionAparicionesPorResultado == 'resultadoString' && !ordenAparicionesPorResultado").fa.fa-caret-up
                    span(ng-show="criterioOrdenacionAparicionesPorResultado == 'resultadoString' && ordenAparicionesPorResultado").fa.fa-caret-down
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorResultadoSegun('apariciones')", ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(ng-show="criterioOrdenacionAparicionesPorResultado == 'apariciones' && ordenAparicionesPorResultado").fa.fa-caret-down
                    span(ng-show="criterioOrdenacionAparicionesPorResultado == 'apariciones' && !ordenAparicionesPorResultado").fa.fa-caret-up


        tbody

            tr(ng-repeat="item in aparicionesPorResultado | orderBy:[criterioOrdenacionAparicionesPorResultado, criterioAlternativoOrdenacionAparicionesPorResultado]:ordenAparicionesPorResultado")
                td(ng-show="criterioOrdenacionAparicionesPorResultado == 'resultadoString'")
                    span.badge.badge-azul(ng-repeat="numero in item.numeros", ng-bind-template="{{numero.numero}}")
                td(ng-show="criterioOrdenacionAparicionesPorResultado == 'apariciones' && $index == (aparicionesPorResultado.length - 1) && !ordenAparicionesPorResultado")
                    span.badge.badge-verde(ng-repeat="numero in item.numeros", ng-bind-template="{{numero.numero}}")
                td(ng-show="criterioOrdenacionAparicionesPorResultado == 'apariciones' && $index != (aparicionesPorResultado.length - 1) && !ordenAparicionesPorResultado")
                    span.badge.badge-rojo(ng-repeat="numero in item.numeros", ng-bind-template="{{numero.numero}}")
                td(ng-show="criterioOrdenacionAparicionesPorResultado == 'apariciones' && $index == 0 && ordenAparicionesPorResultado")
                    span.badge.badge-verde(ng-repeat="numero in item.numeros", ng-bind-template="{{numero.numero}}")
                td(ng-show="criterioOrdenacionAparicionesPorResultado == 'apariciones' && $index != 0 && ordenAparicionesPorResultado")
                    span.badge.badge-rojo(ng-repeat="numero in item.numeros", ng-bind-template="{{numero.numero}}")

                td(ng-bind-template="{{item.apariciones}}")



