extends partials/layout

block content
    div(ng-app="dashboard")
        div
            include partials/navbar
        div.container-fluid
            div.row
                include partials/sidebar
                div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.col-xs-12.main
                    h1.page-header(style="padding-top: 5px") Comentarios
                    div.col-md-12.col-sm-12(ng-controller="ComentariosController")
                        table.table
                            thead
                                tr
                                    th Eliminar
                                    th Usuario
                                    th Comentario
                                    th Fecha
                                    th Validado
                            tbody(ng-repeat="comentario in comentarios")
                                tr.verEmail(ng-show="!comentario.validado", ng-cloak)
                                    td(style="font-weight: bold")
                                        span(ng-click="eliminarComentario(comentario)")
                                            i.fa.fa-trash-o
                                    td(style="font-weight: bold", ng-click="verComentario(comentario)") {{comentario.user}}
                                    td.mensajeEmail(style="font-weight: bold", ng-click="verComentario(comentario)") {{comentario.texto}}
                                    td(style="font-weight: bold", ng-click="verComentario(comentario)") {{comentario.fecha | date:'dd/MM/yyyy'}}
                                    td(style="font-weight: bold", ng-click="verComentario(comentario)") No
                                tr.verEmail(ng-show="comentario.validado", ng-cloak)
                                    td
                                        span(ng-click="eliminarComentario(comentario)")
                                            i.fa.fa-trash-o
                                    td(ng-click="verComentario(comentario)") {{comentario.user}}
                                    td.mensajeEmail(ng-click="verComentario(comentario)") {{comentario.texto}}
                                    td(ng-click="verComentario(comentario)") {{comentario.fecha | date:'dd/MM/yyyy'}}
                                    td(ng-click="verComentario(comentario)") Sí

                        div.col-xs-12.alert.alert-info(ng-show="comentarios.length == 0 || comentarios == null", ng-cloak)
                            | No hay comentarios.

                        include ../modals/eliminarRegistro




block scripts
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/angular.js")
    script(src='/js/angular/admin/dashboard.js')
    script(src="/js/angular/admin/comentarios.js")
    script(src="/js/angular/admin/navbar.js")
    script(src="/js/angular/admin/sidebar.js")
    script(src='/js/angular/ui-bootstrap-tpls-1.3.3.js')
