header(data-ng-controller="NavbarController")
    div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        div.container-fluid
            div.navbar-header
                button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle.collapsed
                    span.sr-only Cambiar la navegación
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.abel(href="/", data-ng-bind-template="Dashboard").navbar-brand.white
                a.abel(href="#", data-ng-show="seccion != ''", data-ng-cloak, data-ng-bind-template=">", style="margin-left:0px").navbar-brand.white.navbar-brand-nothing-hover
                a.abel(href="/admin/{{loteria}}", data-ng-show="seccion != ''", data-ng-cloak, data-ng-bind-template="{{seccion}}", style="margin-left:0px").navbar-brand.white


            div.navbar-collapse.collapse(style="height: 1px;")
                ul.nav.navbar-nav.navbar-right
                    //li
                        a(href="http://getbootstrap.com/examples/dashboard/#").white Dashboard
                    //li
                        a(href="http://getbootstrap.com/examples/dashboard/#").white Settings
                    //li
                        a(href="http://getbootstrap.com/examples/dashboard/#").white Profile
                    li
                        a.abel.btn.btn-default.btn-lagloria-admin.btn-login(href="#", title="Cerrar sesión", data-ng-click="cerrarSesion()") Cerrar sesión
