div.table-responsive(style="margin-top: 15px", data-ng-if="mostrar.tablaAparicionesPorNumeroClave", data-ng-cloak)
    table.table.table-bordered.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorNumeroClaveSegun('specialNumber'); consultarEstandar()", data-ng-bind-template="Numero Clave")
                    span(data-ng-if="criterioOrdenacionAparicionesPorNumeroClave === 'specialNumber' && !ordenAparicionesPorNumeroClave").fa.fa-caret-up
                    span(data-ng-if="criterioOrdenacionAparicionesPorNumeroClave === 'specialNumber' && ordenAparicionesPorNumeroClave").fa.fa-caret-down
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorNumeroClaveSegun('occurrences'); consultarEstandar()", data-ng-bind-template="Apariciones")
                    span(data-ng-if="criterioOrdenacionAparicionesPorNumeroClave === 'occurrences' && ordenAparicionesPorNumeroClave").fa.fa-caret-down
                    span(data-ng-if="criterioOrdenacionAparicionesPorNumeroClave === 'occurrences' && !ordenAparicionesPorNumeroClave").fa.fa-caret-up

        tbody
            tr(data-ng-repeat="item in aparicionesPorNumeroClave")
                td
                    span.badge.badge-azul(data-ng-bind-template="{{item.numeroClave}}")
                td(data-ng-bind-template="{{item.apariciones}}")


