extends layout
block head
    title Pronostigol
    link(rel="stylesheet", href="/css/pronostigol.css")
    link(rel="stylesheet", href="/css/backgroundImage.css")
block content
    div#container.fondoCaramelos(ng-app="qdb")
        div(ng-controller="LoguedUserController")
            div(ng-controller="IndexController")

                include partials/navbar

                main
                    div.container
                        div.row
                            div.col-md-12(style="margin-top:50px").abel.error
                                div.panel.panel-body.border-qdb #{message}


block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/index.js')
    script(src='/js/angular/navbar.js')
    script(src='/js/angular/ui-bootstrap-tpls-0.11.2.js')

