extends layout

block head
    title 游눯 El Gordo | Probabilidades y premios de El gordo de la primitiva
    //- SEO
    meta(name="description", content="Informaci칩n sobre las categor칤as de premios de El gordo de la primitiva. 驕놾잺 Se incluyen los c치lculos de las probabilidades de acertar.")
    meta(name="keywords", content="gordo, primitiva, probabilidades, c치lculos, categor칤as, premios, reintegro, n칰mero, clave")
    link(rel="canonical", href="https://www.pronostigol.es/gordo")
    //- OpenGraph
    meta(property="og:locale", content="es_ES")
    meta(property="og:type", content="website")
    meta(property="og:title", content="游눯 El Gordo | Probabilidades y premios de El gordo de la primitiva")
    meta(property="og:description", content="Informaci칩n sobre las categor칤as de premios de El gordo de la primitiva. 驕놾잺 Se incluyen los c치lculos de las probabilidades de acertar.")
    meta(property="og:url", content="https://www.pronostigol.es/gordo")
    meta(property="og:site_name", content="Pronostigol")
    meta(property="og:image", content="https://www.pronostigol.es/img/logo-gordo.png")
    //- Twitter
    meta(name="twitter:card", content="summary")
    meta(name="twitter:description", content="Informaci칩n sobre las categor칤as de premios de El gordo de la primitiva. 驕놾잺 Se incluyen los c치lculos de las probabilidades de acertar.")
    meta(name="twitter:title", content="游눯 El Gordo | Probabilidades y premios de El gordo de la primitiva")
    meta(name="twitter:image", content="https://www.pronostigol.es/img/logo-gordo.png")
    meta(name="twitter:site", content="@pronostigolesp")
    //- Stylesheets
    link(rel="stylesheet", href="/css/pronostigol.css")


block content
    div#wrap(data-ng-app="qdb")

        div(data-ng-controller="LoguedUserController")
            div(data-ng-controller="IndexController")

                include gordo/partials/navbar

                div(style="padding: 0 0 0 0")

                    main.container-fluid
                        div.col-md-12.text-center
                            div.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12.logo-juego.logo-gordo-con-texto-invertido
                                h1.titulo-logo-juego El Gordo

                        div.col-md-2.col-sm-12.col-xs-12(style="padding-bottom: 15px; padding-top: 30px")
                            script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                            ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2309187828170787", data-ad-slot="6074215556", data-ad-format="auto")
                            script (adsbygoogle = window.adsbygoogle || []).push({});

                        div.col-md-8.col-sm-12.col-xs-12(style="margin-top: 30px")
                            div.col-xs-12.col-sm-8.col-sm-offset-2.panel.panel-body.border-qdb.border-gordo
                                div(style="word-wrap: break-word;")
                                    p#contents-index.text-center 칈ndice de contenidos
                                    div.main-card-description
                                        ul.list-unstyled
                                            li
                                                a.qdb-black(href="#introduction", title="Introducci칩n") 游 Introducci칩n
                                            li
                                                a.qdb-black(href="#probabilities", title="Probabilidades") 游 Probabilidades
                                                ul.list-unstyled
                                                    li
                                                        a.qdb-black(href="#probability-two-numbers", title="Probabilidad de acertar 2 n칰meros en El Gordo de la Primitiva") 游댲 Probabilidad de acertar 2 n칰meros en El Gordo de la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-two-numbers-and-reimbursement", title="Probabilidad de acertar 2 n칰meros y el n칰mero clave en El Gordo de la Primitiva") 游댲 Probabilidad de acertar 2 n칰meros y el n칰mero clave en El Gordo de la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-three-numbers", title="Probabilidad de acertar 3 n칰meros en El Gordo de la Primitiva") 游댲 Probabilidad de acertar 3 n칰meros en El Gordo de la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-three-numbers-and-reimbursement", title="Probabilidad de acertar 3 n칰meros y el n칰mero clave en El Gordo de la Primitiva") 游댲 Probabilidad de acertar 3 n칰meros y el n칰mero clave en El Gordo de la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-four-numbers", title="Probabilidad de acertar 4 n칰meros en El Gordo de la Primitiva") 游댲 Probabilidad de acertar 4 n칰meros en El Gordo de la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-four-numbers-and-reimbursement", title="Probabilidad de acertar 4 n칰meros y el n칰mero clave en El Gordo de la Primitiva") 游댲 Probabilidad de acertar 4 n칰meros y el n칰mero clave en El Gordo de la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-five-numbers", title="Probabilidad de acertar 5 n칰meros en El Gordo de la Primitiva") 游댲 Probabilidad de acertar 5 n칰meros en El Gordo de la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-five-numbers-and-reimbursement", title="Probabilidad de acertar El Gordo de la Primitiva") 游댲 Probabilidad de acertar El Gordo de la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-reimbursement", title="Probabilidad de acertar el n칰mero clave en El Gordo de la Primitiva") 游댲 Probabilidad de acertar el n칰mero clave en El Gordo de la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-summary", title="Resumen de probabilidades de El Gordo de la Primitiva por categor칤a") 游댲 Resumen de probabilidades de El Gordo de la Primitiva por categor칤a
                                            li
                                                a.qdb-black(href="#sources") 游닄 Fuentes
                            div.col-xs-12.panel.panel-body.border-qdb.border-gordo#introduction
                                div.main-card-content(style="word-wrap: break-word;")
                                    div.main-card-name
                                        h2.caramelo.qdb-black 游 Introducci칩n
                                    div.main-card-description
                                        p.qdb-black.
                                            En esta secci&oacute;n encontrar&aacute;s multitud de <a href="/gordo/estadisticas" title="Estad칤sticas">estad&iacute;sticas</a> asociadas al sorteo de <b>El Gordo de la Primitiva</b> de Espa침a.
                                            Podr&aacute;s conocer los resultados m&aacute;s repetidos, el hist칩rico de <a href="/gordo/sorteos" title="Sorteos">sorteos</a>, los reintegros que aparecen con m&aacute;s frecuencia y una amplia
                                            gama de consultas a realizar.
                                            De este modo te ser&aacute; mucho m&aacute;s sencillo realizar tus apuestas.

                                div.main-card-content(style="word-wrap: break-word;")#probabilities
                                    div.main-card-name
                                        h2.caramelo.qdb-black 游 Probabilidades
                                    div.main-card-description
                                        p.
                                            El formato de <b>El Gordo de la Primitiva</b> es muy diferente al de la <a href="/bonoloto" title="Bonoloto">Bonoloto</a> y la
                                            <a href="/primitiva" title="Primitiva">Primitiva</a>, desde los n칰meros que entran en juego hasta las categor칤as de premios.
                                        p.
                                            En el caso de <b>El Gordo de la Primitiva</b> destaca la existencia de un reintegro especial, el cual se denomina n칰mero clave, que otorga el
                                            reembolso de cada apuesta pero tambi칠n genera categor칤as de premios adicionales habiendo acertado, al menos, 2 n칰meros.
                                        p.
                                            A diferencia de la <a href="/bonoloto" title="Bonoloto">Bonoloto</a> y la <a href="/primitiva" title="Primitiva">Primitiva</a>,
                                            en este sorteo los n칰meros posibles van del 1 al 54, y en lugar de extraerse 6 bolas se extraen 5.
                                        p.
                                            Una vez m치s haremos uso de la <b>Regla de Laplace</b> para determinar la probabilidad de cada una de las categor칤as:
                                        div.text-center.v-margin
                                            span
                                                b Probabilidad
                                            span.equal
                                                b =
                                            div.fraction
                                                span.fup
                                                    b Casos favorables
                                                span.fdn
                                                    b Casos posibles
                                        p.
                                            Es posible consultar el detalle de las categor칤as de premios de <b>El Gordo de la Primitiva</b> en el siguiente
                                            <a href="https://www.loteriasyapuestas.es/es/gordo-primitiva/como-se-juega/como-jugar-a-el-gordo-de-la-primitiva" target="_blank" title="Normas de El Gordo" rel="nofollow">enlace</a>.
                                        p.qdb-black.
                                            Nuevamente haremos uso de la combinatoria. Como ya es sabido, la f칩rmula para saber cu치ntas combinaciones de <b>m</b>
                                            elementos tomados de <b>n</b> en <b>n</b> elementos es:
                                        div.text-center.v-margin
                                            div.combination
                                                b C
                                                span.combination-indexes
                                                    sup
                                                        b n
                                                    sub
                                                        b m
                                            span.equal
                                                b =
                                            div.fraction
                                                span.fup
                                                    b m!
                                                span.fdn
                                                    b n! &#x00D7; (m - n)!
                                        p.qdb-black.
                                            Dado que hay 54 n칰meros y el resultado estar치 conformado por 5 y por el n칰mero clave, el c치lculo ser칤a el siguiente:
                                        div.text-center.v-margin
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 5
                                                    sub 54
                                            span.multiplication &#x00D7;
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 1
                                                    sub 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 54!
                                                span.fdn 5! &#x00D7; (54 - 5)!
                                            span.multiplication &#x00D7;
                                            span 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 54!
                                                span.fdn 5! &#x00D7; 49!
                                            span.multiplication &#x00D7;
                                            span 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 54 &#x00D7; 53 &#x00D7; 52 &#x00D7; 51 &#x00D7; 50 &#x00D7; <del>49!</del>
                                                span.fdn 5 &#x00D7; 4 &#x00D7; 3 &#x00D7; 2 &#x00D7; <del>49!</del>
                                            span.multiplication &#x00D7;
                                            span 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 3795012000
                                                span.fdn 120

                                        p.
                                            En <b>El Gordo de la Primitiva</b> hay algo m치s de <b>31 millones</b> de combinaciones posibles de 54 n칰meros tomados en
                                            grupos de 5 y de 10 n칰meros clave escogidos individualmente.

                                        h3#probability-two-numbers.qdb-black.index-title 游댲 Probabilidad de acertar 2 n칰meros en El Gordo de la Primitiva

                                        p.
                                            칄ste es el caso base para calcular el resto de probabilidades de <b>El Gordo de la Primitiva</b>. Al igual que
                                            se ha hecho en apartados anteriores, para conocer la probabilidad de obtener 2 aciertos hay que calcular por separado
                                            la probabilidad de acertar un n칰mero, multiplic치ndola por la probabilidad del
                                            siguiente acierto, lo cual implica restar un acierto posible y una bola del total. Como siempre decimos, con un ejemplo
                                            se entiende mejor:
                                        div.text-center.v-margin
                                            span Probabilidad (2 칩 m치s aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 5
                                                span.fdn 54
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 53
                                        p.
                                            Como se ha indicado en ocasiones anteriores, estamos incluyendo las probabilidades de obtener m치s aciertos de los que
                                            buscamos, que son 2. Dicho esto, si queremos precisar tenemos que a침adir la restricci칩n de fallar las 3 bolas restantes.
                                        p.
                                            En este juego en particular, al tener un papel tan importante el n칰mero clave de cara a la determinaci칩n de los premios,
                                            tambi칠n debemos incluir la restricci칩n de fallar el n칰mero clave, puesto que estar칤amos incluyendo tambi칠n combinaciones
                                            de la categor칤a superior. De este modo, c치lculos exactos ser칤an:
                                        div.text-center.v-margin
                                            span Probabilidad (2 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 5
                                                span.fdn 54
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 53
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 49
                                                span.fdn 52
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 48
                                                span.fdn 51
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 47
                                                span.fdn 50
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 9
                                                span.fdn 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 19897920
                                                span.fdn 3795012000
                                        p.
                                            Como era de esperar, al igual que en los juegos anteriores hay que tener presente que no s칩lo nos vale
                                            una combinaci칩n, sino que nos vale cualquiera que contenga una de las combinaciones que tengan 2 de esos
                                            5 n칰meros. Por tanto, para obtener la probabilidad real
                                            habr치 que multiplicar el resultado anterior por la combinaci칩n de las 5 bolas que significan un acierto
                                            tomadas de 2 en 2:
                                        div.text-center.v-margin
                                            span Probabilidad (2 aciertos)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 2
                                                    sub 5
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 19897920
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            span 10
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 19897920
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 198979200
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 1658160
                                                span.fdn
                                                    b 31625100

                                        h3#probability-two-numbers-and-reimbursement.qdb-black.index-title 游댲 Probabilidad de acertar 2 n칰meros y el n칰mero clave en El Gordo de la Primitiva
                                        p.
                                            Este caso es id칠ntico al anterior, con la diferencia de que tenemos que acertar el n칰mero clave. Para ello s칩lo tenemos que modificar
                                            la 칰ltima restricci칩n. Por tanto, para saber la probabilidad de acertar 2 n칰meros y el n칰mero clave tenemos:
                                        div.text-center.v-margin
                                            span Probabilidad (2 aciertos y n칰mero clave)
                                            span.equal =
                                            div.fraction
                                                span.fup 5
                                                span.fdn 54
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 53
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 49
                                                span.fdn 52
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 48
                                                span.fdn 51
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 47
                                                span.fdn 50
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 2210880
                                                span.fdn 3795012000
                                        p.
                                            Nuevamente, puesto que no nos importa qu칠 n칰meros sean los acertados dentro de nuestra apuesta, tenemos
                                            que contemplar todas las posibles combinaciones de nuestros n칰meros.
                                        div.text-center.v-margin
                                            span Probabilidad (2 aciertos y n칰mero clave)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 2
                                                    sub 5
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2210880
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            span 10
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2210880
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 22108800
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 184240
                                                span.fdn
                                                    b 31625100

                                        h3#probability-three-numbers.qdb-black.index-title 游댲 Probabilidad de acertar 3 n칰meros en El Gordo de la Primitiva
                                        p.
                                            Volvemos a tomar como ejemplo el caso inical. El 칰nico cambio que tenemos que realizar es
                                            el acierto de la tercera bola, eliminando uno de los 3 fallos. Realizando los ajustes comentados
                                            nos queda lo siguiente:
                                        div.text-center.v-margin
                                            span Probabilidad (3 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 5
                                                span.fdn 54
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 53
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 3
                                                span.fdn 52
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 49
                                                span.fdn 51
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 48
                                                span.fdn 50
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 9
                                                span.fdn 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 1270080
                                                span.fdn 3795012000
                                        p.
                                            A continuaci칩n debemos multiplicar las combinaciones de n칰meros v치lidos entre los que
                                            apostamos escogiendo s칩lo 3, los cuales implicar치n obtener premio en esta categor칤a.
                                            Casualmente, la combinaci칩n de 5 elementos tomados de 3 en 3 coincide con el n칰mero
                                            que obtenemos al combinar esos mismos 5 n칰meros de 2 en 2.
                                        div.text-center.v-margin
                                            span Probabilidad (3 aciertos)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 3
                                                    sub 5
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1270080
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            span 10
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1270080
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 12700800
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 105840
                                                span.fdn
                                                    b 31625100


                                        h3#probability-three-numbers-and-reimbursement.qdb-black.index-title 游댲 Probabilidad de acertar 3 n칰meros y el n칰mero clave en El Gordo de la Primitiva
                                        p.
                                            Como ya nos podemos imaginar, para determinar la probabilidad de obtener 3 aciertos y el n칰mero clave s칩lo tendremos
                                            que tomar como referencia el caso anterior y modificar la restricci칩n del n칰mero clave, de modo que impongamos que
                                            sea acertado en lugar de permitir los 9 resultados posibles que implican fallarlo.
                                        div.text-center.v-margin
                                            span Probabilidad (3 aciertos y n칰mero clave)
                                            span.equal =
                                            div.fraction
                                                span.fup 5
                                                span.fdn 54
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 53
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 3
                                                span.fdn 52
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 49
                                                span.fdn 51
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 48
                                                span.fdn 50
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 141120
                                                span.fdn 3795012000
                                        p.
                                            Al igual que en el apartado anterior, debemos multiplicar las combinaciones de n칰meros v치lidos
                                            entre los que apostamos escogiendo s칩lo 3.
                                        div.text-center.v-margin
                                            span Probabilidad (3 aciertos y n칰mero clave)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 3
                                                    sub 5
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 141120
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            span 10
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 141120
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 1411200
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 11760
                                                span.fdn
                                                    b 31625100

                                        h3#probability-four-numbers.qdb-black.index-title 游댲 Probabilidad de acertar 4 n칰meros en El Gordo de la Primitiva

                                        p.
                                            Para calcular la probabilidad de acertar 4 n칰meros en <b>El Gordo de la Primitiva</b> s칩lo tenemos que extender
                                            los planteamientos anteriores, con la particularidad de que s칩lo se puede fallar uno de los 5
                                            n칰meros.
                                        div.text-center.v-margin
                                            span Probabilidad (4 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 5
                                                span.fdn 54
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 53
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 3
                                                span.fdn 52
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 51
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 49
                                                span.fdn 50
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 9
                                                span.fdn 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 52920
                                                span.fdn 3795012000
                                        p.
                                            Como se ha hecho en apartados anteriores, debemos multiplicar la combinaci칩n de los 5 posibles
                                            n칰meros que suponen un acierto tomados de 4 en 4.
                                        div.text-center.v-margin
                                            span Probabilidad (4 aciertos)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 4
                                                    sub 5
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 52920
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            span 5
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 52920
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 264600
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 2205
                                                span.fdn
                                                    b 31625100

                                        h3#probability-four-numbers-and-reimbursement.qdb-black.index-title 游댲 Probabilidad de acertar 4 n칰meros y el n칰mero clave en El Gordo de la Primitiva

                                        p.
                                            Una vez m치s, s칩lo tenemos que tomar como referencia el caso anterior y modificar la
                                            restricci칩n asociada al n칰mero clave, de modo que en lugar de contemplar los 9 posibles
                                            n칰meros fallido a침adamos el n칰mero que hemos apostado y que, por tanto, supone acertar el
                                            n칰mero clave.
                                        div.text-center.v-margin
                                            span Probabilidad (4 aciertos y n칰mero clave)
                                            span.equal =
                                            div.fraction
                                                span.fup 5
                                                span.fdn 54
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 53
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 3
                                                span.fdn 52
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 51
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 49
                                                span.fdn 50
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 5880
                                                span.fdn 3795012000
                                        p.
                                            Al igual que hemos hecho en el apartado anterior, debemos contemplar las combinaciones
                                            de los 5 posibles n칰meros que suponen un acierto tomados de 4 en 4.
                                        div.text-center.v-margin
                                            span Probabilidad (4 aciertos y n칰mero clave)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 4
                                                    sub 5
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 5880
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            span 5
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 5880
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 29400
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 245
                                                span.fdn
                                                    b 31625100

                                        h3#probability-five-numbers.qdb-black.index-title 游댲 Probabilidad de acertar 5 n칰meros en El Gordo de la Primitiva

                                        p.
                                            Nos vamos acercando a la m치xima categor칤a de este juego. Para calcular esta probabilidad tenemos que imponer el
                                            acierto de los 5 n칰meros apostados pero fallando el n칰mero clave. Expresado de forma matem치tica tenemos:
                                        div.text-center.v-margin
                                            span Probabilidad (5 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 5
                                                span.fdn 54
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 53
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 3
                                                span.fdn 52
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 51
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 50
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 9
                                                span.fdn 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 1080
                                                span.fdn 3795012000
                                        p.
                                            Como en ocasiones anteriores, debemos contemplar las combinaciones
                                            de los 5 posibles n칰meros que suponen un acierto tomados de 5 en 5. Como es evidente,
                                            s칩lo nos valdr치 una posible combinaci칩n de los n칰meros, que ser치 la ganadora.
                                        div.text-center.v-margin
                                            span Probabilidad (5 aciertos)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 5
                                                    sub 5
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1080
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            span 1
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1080
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 1080
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 9
                                                span.fdn
                                                    b 31625100

                                        h3#probability-five-numbers-and-reimbursement.qdb-black.index-title 游댲 Probabilidad de acertar El Gordo de la Primitiva

                                        p.
                                            Ahora s칤 hemos llegado a lo que realmente nos interesa, y es saber la probabilidad de acertar El Gordo de la Primitiva.
                                            Para calcularlo s칩lo tenemos que partir del c치lculo del apartado anterior, y modificar la probabilidad del n칰mero clave de
                                            modo que, en esta ocasi칩n, s칤 lo acertemos.
                                        div.text-center.v-margin
                                            span Probabilidad (5 aciertos y n칰mero clave)
                                            span.equal =
                                            div.fraction
                                                span.fup 5
                                                span.fdn 54
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 53
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 3
                                                span.fdn 52
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 51
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 50
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 10
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 120
                                                span.fdn 3795012000
                                        p.
                                            Al igual que en el apartado anterior debemos contemplar las combinaciones
                                            de los 5 posibles n칰meros que suponen un acierto tomados de 5 en 5. Como se ha explicado anteriormente,
                                            sabemos que el c치lculo ser치 1 puesto que s칩lo la combinaci칩n de los 5 n칰meros ganadores ser치 la
                                            que nos valga para acertar El Gordo de la Primitiva.
                                        div.text-center.v-margin
                                            span Probabilidad (5 aciertos y n칰mero clave)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 5
                                                    sub 5
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 120
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            span 1
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 120
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 120
                                                span.fdn 3795012000
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 1
                                                span.fdn
                                                    b 31625100

                                        h3#probability-reimbursement.qdb-black.index-title 游댲 Probabilidad de acertar el n칰mero clave en El Gordo de la Primitiva

                                        p.
                                            Tambi칠n es interesante saber qu칠 probabilidad tenemos de acertar el n칰mero clave en <b>El Gordo de la Primitiva</b>,
                                            aunque el c치lculo es muy sencillo.
                                        div.text-center.v-margin
                                            span Probabilidad (n칰mero clave)
                                            span.equal =
                                            div.fraction
                                                span.fup
                                                    b 1
                                                span.fdn
                                                    b 10

                                        h3#probability-summary.qdb-black.index-title 游댲 Resumen de probabilidades de El Gordo de la Primitiva por categor칤a
                                        p.qdb-black.
                                            Al igual que hemos hecho en otras secciones, una vez hechos todos los c치lculos vamos a resumir los c치lculos agrupados
                                            por categor칤a de premio de <b>El Gordo de la Primitiva</b>.
                                        div.table-section
                                            div.table-responsive
                                                table.table.table-bordered
                                                    thead
                                                        tr
                                                            th Categor칤a
                                                            th Aciertos
                                                            th Probabilidad
                                                    tbody
                                                        tr
                                                            td.align-middle 1춹 Categor칤a
                                                            td.align-middle 5 + N칰mero Clave
                                                            td
                                                                div.fraction
                                                                    span.fup 1
                                                                    span.fdn 31625100
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.0000000316
                                                        tr
                                                            td.align-middle 2춹 Categor칤a
                                                            td.align-middle 5
                                                            td
                                                                div.fraction
                                                                    span.fup 9
                                                                    span.fdn 31625100
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.000000285
                                                        tr
                                                            td.align-middle 3춹 Categor칤a
                                                            td.align-middle 4 + N칰mero Clave
                                                            td
                                                                div.fraction
                                                                    span.fup 245
                                                                    span.fdn 31625100
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.00000775
                                                        tr
                                                            td.align-middle 4춹 Categor칤a
                                                            td.align-middle 4
                                                            td
                                                                div.fraction
                                                                    span.fup 2205
                                                                    span.fdn 31625100
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.0000697
                                                        tr
                                                            td.align-middle 5춹 Categor칤a
                                                            td.align-middle 3 + N칰mero Clave
                                                            td
                                                                div.fraction
                                                                    span.fup 11760
                                                                    span.fdn 31625100
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.000372
                                                        tr
                                                            td.align-middle 6춹 Categor칤a
                                                            td.align-middle 3
                                                            td
                                                                div.fraction
                                                                    span.fup 105840
                                                                    span.fdn 31625100
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.0033
                                                        tr
                                                            td.align-middle 7춹 Categor칤a
                                                            td.align-middle 2 + N칰mero Clave
                                                            td
                                                                div.fraction
                                                                    span.fup 184240
                                                                    span.fdn 31625100
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.0058
                                                        tr
                                                            td.align-middle 8춹 Categor칤a
                                                            td.align-middle 2
                                                            td
                                                                div.fraction
                                                                    span.fup 1658160
                                                                    span.fdn 31625100
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.052
                                                        tr
                                                            td.align-middle Reintegro
                                                            td.align-middle N칰mero Clave
                                                            td
                                                                div.fraction
                                                                    span.fup 1
                                                                    span.fdn 10
                                                                span.equal =
                                                                span.result
                                                                    b 0.1

                                div.main-card-content(style="word-wrap: break-word;")#sources
                                    div.main-card-name
                                        h2.qdb-black 游닄 Fuentes
                                    div.main-card-description
                                        p.
                                            Para la redacci칩n de esta p치gina hemos utilizado informaci칩n y datos de otras webs que nos han sido de gran utilidad.
                                            Por orden de influencia destacamos:
                                        div
                                            ul
                                                li
                                                    a(href="http://www.estadisticaparatodos.es/taller/loterias/gordo.html", target="_blank", title="Estad칤stica para todos", rel="nofollow") http://www.estadisticaparatodos.es/taller/loterias/gordo.html
                                                li
                                                    a(href="https://www.combinacionganadora.com/elgordo/probabilidades/", target="_blank", title="Combinaci칩n ganadora", rel="nofollow") https://www.combinacionganadora.com/elgordo/probabilidades/





                        div.col-md-2.col-sm-12.col-xs-12(style="padding-bottom: 15px; padding-top: 30px")
                            script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                            ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2309187828170787", data-ad-slot="1504415157", data-ad-format="auto")
                            script (adsbygoogle = window.adsbygoogle || []).push({});


                include modals/eliminarRegistro

    include gordo/partials/footer

block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/i18n/angular-locale_es-es.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/index.js')
    script(src='/js/angular/navbar.js')
    script(src='/js/angular/ui-bootstrap-tpls-1.3.3.js')
    script(src="/bower_components/angular-ui-carousel/dist/ui-carousel.js")

    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-57106519-1', 'auto');
        ga('send', 'pageview');
