extends layout

block head
    title 📊 Pronostigol | Estadísticas de Loterías y Apuestas del Estado
    meta(name="description", content="Pronostigol. Histórico de sorteos y consulta de estadísticas y resultados de Quiniela, Bonoloto, Primitiva, Gordo de la Primitiva y Euromillones")
    meta(name="keywords", content="estadísticas quiniela, estadísticas bonoloto, estadísticas primitiva, estadísticas gordo primitiva, estadísticas euromillones, histórico quiniela, histórico bonoloto, histórico primitiva, histórico gordo primitiva, histórico euromillones, resultados quiniela, resultados bonoloto, resultados primitiva, resultados gordo primitiva, resultados euromillones, euromillions, spanish lottery, lotto systems")
    meta(property="og:locale", content="es_ES")
    meta(property="og:type", content="website")
    meta(property="og:title", content="📊 Pronostigol | Estadísticas de Loterías y Apuestas del Estado")
    meta(property="og:description", content="Aplicación web en la que puedes encontrar el histórico de sorteos, así como estadísticas y resultados de Quiniela, Bonoloto, Primitiva, Gordo de la Primitiva y Euromillones")
    meta(property="og:url", content="http://www.pronostigol.es")
    meta(property="og:site_name", content="Pronostigol")
    meta(property="og:image", content="http://www.pronostigol.es/img/favicon.png")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:description", content="Aplicación web en la que puedes encontrar el histórico de sorteos, así como estadísticas y resultados de Quiniela, Bonoloto, Primitiva, Gordo de la Primitiva y Euromillones")
    meta(name="twitter:title", content="📊 Pronostigol | Estadísticas de Loterías y Apuestas del Estado")
    meta(name="twitter:image", content="http://www.pronostigol.es/img/favicon.png")
    link(rel="stylesheet", href="/css/pronostigol.css")

block content
    div#wrap(data-ng-app="qdb")

        div.container(data-ng-controller="LoguedUserController")
            div(data-ng-controller="IndexController")

                include partials/navbar

                div.col-md-12-col-sm-12.col-xs-12(style="padding: 0 0 0 0")

                    main
                        div.col-md-12.text-center
                            span.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12.logo-pronostigol
                                h1.titulo-logo-pronostigol Pronostigol

                        div.col-md-12.text-center
                            div.col-md-2.col-md-offset-1.col-sm-6.col-xs-12
                                a#link-quiniela(data-ng-href="/quiniela")
                                    span.logo.logo-quiniela(title="Quiniela") Q
                            div.col-md-2.col-sm-6.col-xs-12
                                a#link-bonoloto(data-ng-href="/bonoloto")
                                    span.logo.logo-bonoloto(title="Bonoloto") B
                            div.col-md-2.col-sm-6.col-xs-12
                                a#link-primitiva(data-ng-href="/primitiva")
                                    span.logo.logo-primitiva(title="Primitiva") P
                            div.col-md-2.col-sm-6.col-xs-12
                                a#link-gordo(data-ng-href="/gordo")
                                    span.logo.logo-gordo(title="El Gordo de la Primitiva") G
                            div.col-md-2.col-md-offset-0.col-sm-6.col-sm-offset-3.col-xs-12(style="")
                                a#link-euromillones(data-ng-href="/euromillones")
                                    span.logo.logo-euromillones(title="Euromillones") E

                        div.col-md-10.col-md-offset-1.col-sm-12.col-xs-12(style="margin-top: 20px; padding-left: 0px; padding-right: 0px")
                            div.col-md-12.col-sm-12.col-xs-12.panel.panel-body.border-qdb
                                div.main-card-content(style="word-wrap: break-word;")
                                    div.main-card-name
                                        a.recipe-title
                                            span.caramelo.qdb-red Bienvenido
                                    div.main-card-description
                                        p.qdb-blue.
                                            En esta aplicaci&oacute;n web encontrar&aacute;s multitud de estad&iacute;sticas asociadas a diferentes
                                            loter&iacute;as de España. Actualmente damos soporte a La Quiniela, Bonoloto, Primitiva, El Gordo de la
                                            Primitiva y Euromillones.
                                            Podr&aacute;s consultar todo tipo de estad&iacute;sticas que te facilitar&aacute;n la tarea de hacer
                                            tus apuestas y con mayores garant&iacute;as de &eacute;xito.

                            div.col-md-12.col-sm-12.col-xs-12.panel.panel-body.border-qdb(data-ng-show="comments != null", data-ng-cloak)

                                div.col-md-12.col-sm-12.col-xs-12.text-center(data-ng-show="comments.length > 0", data-ng-cloak)
                                    span.green.abel(style="font-size: 42px; font-weight: normal") Comentarios

                                div.col-md-12.col-sm-12.col-xs-12
                                    ul.media-list
                                        li.media(data-ng-repeat="comment in comments")
                                            div.media-left
                                                //span.badge.badge-verde P
                                                i.fa.fa-3x.fa-comment.letra-verde
                                            div.media-body
                                                h4.media-heading(data-ng-bind-template="{{comment.user}} - {{comment.fecha | date:'dd/MM/yyyy HH:mm'}} h")
                                                p.sin-padding-izquierdo {{comment.texto}}
                                                div.media(data-ng-repeat="respuesta in comment.respuestas", data-ng-show="respuesta.validado")
                                                    div.media-left
                                                        i.fa.fa-3x.fa-comment.letra-azul(data-ng-show="respuesta.user == 'admin'")
                                                        i.fa.fa-3x.fa-comment.letra-verde(data-ng-show="respuesta.user != 'admin'")
                                                    div.media-body
                                                        h4.media-heading(data-ng-bind-template="{{respuesta.user}} - {{respuesta.fecha | date:'dd/MM/yyyy HH:mm'}} h")
                                                        p.sin-padding-izquierdo {{respuesta.texto}}

                                                form(style="margin-top: 25px", data-ng-show="usuarioEstaLogueado", data-ng-cloak)
                                                    textarea(placeholder="Escribe una respuesta", data-ng-model="nuevaRespuesta.texto").form-control.nuevo-comentario
                                                    div.text-center(style="margin-top:25px; margin-left: -5%")
                                                        a.btn.btn-default.btn-qdb.btn-login(data-ng-click="responderComentario(comment)").btn.btn-danger.btn-large Responder


                                div.col-md-12.col-sm-12.col-xs-12.text-center
                                    uib-pagination(data-ng-show="comments.length > commentsPerPage", data-ng-cloak, items-per-page="commentsPerPage", boundary-links="true", total-items="totalItems", data-ng-model="currentPage", previous-text="<", next-text=">", first-text="Inicio", last-text="Fin").pagination-sm.abel

                                div.col-md-12.col-sm-12.col-xs-12

                                    div.main-card-content(data-ng-show="comments != null && comments.length == 0", data-ng-cloak, style="margin-bottom: 10px")
                                        div.main-card-name(style="padding-left: 0px;")
                                            a.recipe-title
                                                span.caramelo.qdb-red No hay comentarios. Sé el primero en comentar.

                                    h3.text-center(style="margin-top: 0px; padding-top: 5px", data-ng-show="usuarioEsAnonimo", data-ng-cloak)
                                        a.green(href="/login", data-ng-bind-template="{{ comments.length > 0 ? '¡Debes hacer login para comentar!' : '¡Haz login primero!'}}")#logueate

                                    div.col-md-12.col-sm-12.col-xs-12.alert.alert-danger.alert-dismissible(role="alert", data-ng-show="comentarioPalabrasLargas", data-ng-cloak)
                                        button.close(type="button", data-dismiss="alert", aria-label="Close")
                                            span(aria-hidden="true") &times;
                                        div El comentario contiene palabras no registradas en el diccionario.
                                    div.col-md-12.col-sm-12.col-xs-12.alert.alert-danger.alert-dismissible(role="alert", data-ng-show="comentarioVacio", data-ng-cloak)
                                        button.close(type="button", data-dismiss="alert", aria-label="Close")
                                            span(aria-hidden="true") &times;
                                        div El comentario no puede estar vacío.
                                    div.col-md-12.col-sm-12.col-xs-12.alert.alert-info.alert-dismissible(role="alert", data-ng-show="comentarioEliminadoCorrectamente", data-ng-cloak)
                                        button.close(type="button", data-dismiss="alert", aria-label="Close")
                                            span(aria-hidden="true") &times;
                                        div El comentario ha sido eliminado con &eacute;xito.
                                    div.col-md-12.col-sm-12.col-xs-12.alert.alert-info.alert-dismissible(role="alert", data-ng-show="comentarioEnviadoCorrectamente", data-ng-cloak)
                                        button.close(type="button", data-dismiss="alert", aria-label="Close")
                                            span(aria-hidden="true") &times;
                                        div El comentario ha sido enviado. Se mostrar&aacute; cuando sea validado por el administrador.
                                    form(style="margin-top:25px", data-ng-show="usuarioEstaLogueado", data-ng-cloak)
                                        textarea(placeholder="Escribe un comentario", data-ng-model="comentario.texto").form-control.nuevo-comentario
                                        div.text-center(style="margin-top:25px")
                                            a.btn.btn-default.btn-qdb.btn-login(data-ng-click="comentar()").btn.btn-danger.btn-large Enviar

                            div.col-md-12.col-sm-12.col-xs-12.panel.panel-body.border-qdb(data-ng-show="tweets.length > 0", data-ng-cloak)

                                div.col-md-12.col-sm-12.col-xs-12.text-center(data-ng-show="tweets.length > 0", data-ng-cloak)
                                    span.green.abel(style="font-size: 42px; font-weight: normal") Noticias

                                div.col-md-6.col-sm-6.col-xs-12(data-ng-repeat="tweet in tweets", data-ng-cloak)
                                    div.panel.panel-primary.qdb-tweet
                                        div.panel-heading(style="overflow: auto")
                                            div.panel-title.pull-left
                                                span(data-ng-bind-template="{{tweet.name}}")
                                            div.panel-title(style="clear:both").text-center
                                                div(style="float:left")
                                                    span.badge(data-ng-bind-template="{{$index+1}}")
                                                div(style="float:right", data-ng-bind-template="{{tweet.created_at | date:'dd/MM/yyyy HH:mm'}} h")


                                        div.panel-body(data-ng-bind-html="tweet.text")

                            div.col-md-6.col-md-offset-3.col-sm-12.col-xs-12.panel.panel-body.border-qdb(style="margin-top:60px;")
                                div.col-md-12.col-sm-12.col-xs-12(data-ng-show="fecha == 'empty'", style="display:block; padding-left: 0px")
                                    div(style="float:left") Última actualización:
                                    i(style="float:left; margin-left: 15px; margin-top: 3px").fa.fa-refresh.fa-spin
                                div.col-md-12.col-sm-12.col-xs-12(data-ng-show="fecha != 'empty'", style="padding-left: 0px", data-ng-bind-template="Última actualización: {{fecha | date:('dd/MM/yyyy')}}")

                                div.col-md-12.col-sm-12.col-xs-12(data-ng-show="visitorInfo == 'empty'", style="display:block; padding-left: 0px")
                                    div(style="float:left") Visitantes hoy:
                                    i(style="float:left; margin-left: 15px; margin-top: 3px").fa.fa-refresh.fa-spin
                                    br
                                    div(style="float:left") Visitantes &uacute;nicos:
                                    i(style="float:left; margin-left: 15px; margin-top: 3px").fa.fa-refresh.fa-spin
                                    br
                                    div(style="float:left") Visitas totales:
                                    i(style="float:left; margin-left: 15px; margin-top: 3px").fa.fa-refresh.fa-spin

                                div.col-md-12.col-sm-12.col-xs-12(data-ng-show="visitorInfo != 'empty'", style="padding-left: 0px")
                                    div(data-ng-bind-template="Visitantes hoy: {{visitorInfo.visitantesHoy}}")
                                    div(data-ng-bind-template="Visitantes únicos: {{visitorInfo.visitantesUnicos}}")
                                    div(data-ng-bind-template="Visitas totales: {{visitorInfo.visitasTotales}}")

                include partials/cookiesNotification

                include modals/eliminarRegistro

    include partials/footer

block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/index.js')
    script(src='/js/angular/navbar.js')
    script(src='/js/angular/ui-bootstrap-tpls-1.3.3.js')

    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-57106519-1', 'auto');
        ga('send', 'pageview');

    script(type="application/ld+json").
        !{JSON.stringify(structuredData_webApplication)}
    script(type="application/ld+json").
        !{JSON.stringify(structuredData_organization)}
