doctype html
html
    head
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/font-awesome.css")
        link(rel="stylesheet", href="/css/starter-template.css")
        link(rel="stylesheet", href="/css/ui-select/dist/select.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block head
    body
        block content
        block scripts
        script(src='/js/angular-sanitize.js', type="text/javascript")
        script(src='/js/angular/ui-select/dist/select.js')
        script(src='/js/angular/services/bonoloto.js')
        script(src='/js/angular/services/euromillones.js')
        script(src='/js/angular/services/gordo.js')
        script(src='/js/angular/services/primitiva.js')
        script(src='/js/angular/services/quiniela.js')

