extends layout

block head
    title Política de Cookies
    link(rel="canonical", href="http://www.pronostigol.es/politicaDeCookies")
    link(rel="stylesheet", href="/css/backgroundImage.css")
    link(rel="stylesheet", href="/css/pronostigol.css")


block content
    div#wrap(data-ng-app="qdb")

        div.container(data-ng-controller="LoguedUserController", style="background-color: white")
            div(data-ng-controller="IndexController")

                include partials/navbar

                div

                    main
                        //div.container
                            div.row


                        div.container.col-xs-12(style="background-color: white")
                            div.col-xs-12(style="margin-top: 0px; margin-bottom: 10px")

                                h1.page-header.letra-azul Cookies propias
                                p.cookies-parrafo.
                                    En esta aplicación web se usan cookies propias para facilitar la experiencia del usuario.
                                    En concreto se usan para almacenar en su ordenador sus credenciales de usuario en caso de que
                                    decida registrarse. De este modo, cada vez que acceda a la pantalla de login, encontrará sus
                                    credenciales ya situadas en el formulario.
                                p.cookies-parrafo.
                                    Los datos que usted proporciona en el momento del registro, como son su usuario y contraseña, son
                                    almacenados en la base de datos de Pronostigol, y en ningún caso son proporcionados a ninguna otra
                                    web.

                            div.col-xs-12(style="margin-bottom:15px;")
                                h1.page-header.letra-roja Cookies de terceros
                                p.cookies-parrafo.
                                    En esta sección se detallan otras cookies usadas por terceros en esta aplicación web.

                                h2.espacio-letras
                                    | <div class="letra-azul pull-left">G</div>
                                    | <div class="letra-roja pull-left">o</div>
                                    | <div class="letra-amarilla pull-left">o</div>
                                    | <div class="letra-azul pull-left">g</div>
                                    | <div class="letra-verde pull-left">l</div>
                                    | <div class="letra-roja pull-left">e</div>
                                    | &nbsp;Adsense
                                p.cookies-parrafo.
                                    Para ofrecerle publicidad de su gusto se almacena cierta información de su navegación, la cual es utilizada
                                    por Google Adsense para que la publicidad mostrada sea similar a las páginas que usted visita.
                                    De este modo siempre aparece publicidad que suele ser del interés del usuario.

    include partials/footer

block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/index.js')
    script(src='/js/angular/navbar.js')
    script(src='/js/angular/ui-bootstrap-tpls-1.3.3.js')
