extends layout

block head
    title Primitiva | Probabilidades y premios de la primitiva
    //- SEO
    meta(name="description", content="Primitiva. Histórico de sorteos y consulta de estadísticas y resultados de la Primitiva")
    meta(name="keywords", content="estadísticas primitiva, histórico primitiva, resultados primitiva")
    link(rel="canonical", href="http://www.pronostigol.es/primitiva")
    //- OpenGraph
    meta(property="og:locale", content="es_ES")
    meta(property="og:type", content="website")
    meta(property="og:title", content="Primitiva | Probabilidades y premios de la primitiva")
    meta(property="og:description", content="Información sobre las categorías de premios de la primitiva y los cálculos de las probabilidades de acertar.")
    meta(property="og:url", content="http://www.pronostigol.es/quiniela")
    meta(property="og:site_name", content="Pronostigol")
    meta(property="og:image", content="http://www.pronostigol.es/img/logo-primitiva.png")
    //- Twitter
    meta(name="twitter:card", content="summary")
    meta(name="twitter:description", content="Información sobre las categorías de premios de la primitiva y los cálculos de las probabilidades de acertar.")
    meta(name="twitter:title", content="Primitiva | Probabilidades y premios de la primitiva")
    meta(name="twitter:image", content="http://www.pronostigol.es/img/logo-primitiva.png")
    meta(name="twitter:site", content="@pronostigolesp")
    //- Stylesheets
    link(rel="stylesheet", href="/css/pronostigol.css")

block content
    div#wrap(data-ng-app="qdb")

        div(data-ng-controller="LoguedUserController")
            div(data-ng-controller="IndexController")

                include primitiva/partials/navbar

                div(style="padding: 0 0 0 0")

                    main.container-fluid
                        div.col-md-12.text-center
                            div.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12.logo-juego.logo-primitiva-con-texto-invertido
                                h1.titulo-logo-juego Primitiva

                        div.col-md-2.col-sm-12.col-xs-12(style="padding-bottom: 15px; padding-top: 30px")
                            script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                            ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2309187828170787", data-ad-slot="6074215556", data-ad-format="auto")
                            script (adsbygoogle = window.adsbygoogle || []).push({});

                        div.col-md-8.col-sm-12.col-xs-12(style="margin-top: 30px")

                            div.col-xs-12.col-sm-8.col-sm-offset-2.panel.panel-body.border-primitiva
                                div(style="word-wrap: break-word;")
                                    p#contents-index.text-center Índice de contenidos
                                    div.main-card-description
                                        ul.list-unstyled
                                            li
                                                a.qdb-black(href="#introduction", title="Introducción") 1. Introducción
                                            li
                                                a.qdb-black(href="#probabilities", title="Probabilidades") 2. Probabilidades
                                                ul.list-unstyled
                                                    li
                                                        a.qdb-black(href="#probability-three-numbers", title="Probabilidad de acertar 3 números en la Primitiva") 2.1. Probabilidad de acertar 3 números en la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-four-numbers", title="Probabilidad de acertar 4 números en la Primitiva") 2.2. Probabilidad de acertar 4 números en la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-five-numbers", title="Probabilidad de acertar 5 números en la Primitiva") 2.3. Probabilidad de acertar 5 números en la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-five-numbers-and-complementary", title="Probabilidad de acertar 5 números y el complementario en la Primitiva") 2.4. Probabilidad de acertar 5 números y el complementario en la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-six-numbers", title="Probabilidad de acertar la Primitiva") 2.5. Probabilidad de acertar la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-reimbursement", title="Probabilidad de acertar el reintegro de la Primitiva") 2.6. Probabilidad de acertar el reintegro de la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-six-numbers-and-reimbursement", title="Probabilidad de acertar la categoría especial de la Primitiva") 2.7. Probabilidad de acertar la categoría especial de la Primitiva
                                                    li
                                                        a.qdb-black(href="#probability-summary", title="Resumen de probabilidades de la Primitiva por categoría") 2.8. Resumen de probabilidades de la Primitiva por categoría
                                            li
                                                a.qdb-black(href="#sources", title="Fuentes") 3. Fuentes

                            div.col-xs-12.panel.panel-body.border-qdb.border-primitiva#introduction
                                div.main-card-content(style="word-wrap: break-word;")
                                    div.main-card-name
                                        a.recipe-title
                                            h2.caramelo.qdb-black 1. Introducción
                                    div.main-card-description
                                        p.qdb-black.
                                            En esta secci&oacute;n encontrar&aacute;s multitud de estad&iacute;sticas asociadas al sorteo de la <b>Primitiva</b> de España.
                                            Podr&aacute;s conocer los resultados m&aacute;s repetidos, los reintegros que aparecen con m&aacute;s frecuencia y una amplia
                                            gama de consultas a realizar.
                                            De este modo te ser&aacute; mucho m&aacute;s sencillo realizar tus apuestas.

                                div.main-card-content(style="word-wrap: break-word;")#probabilities
                                    div.main-card-name
                                        a.recipe-title
                                            h2.caramelo.qdb-black 2. Probabilidades
                                    div.main-card-description
                                        p.qdb-black.
                                            Dado que el formato de la <b>Primitiva</b> es idéntico al de la <a href="/bonoloto" title="Bonoloto">Bonoloto</a>,
                                            a excepción de las categorías de los premios y el coste de las apuestas, veremos que las probabilidades son las mismas.
                                        p.qdb-black.
                                            En el caso de la <b>Primitiva</b> hay que destacar la existencia de una categoría especial, cuyo premio se obtiene acertando
                                            los 6 números del sorteo y, además, el reintegro.
                                        p.
                                            Al igual que en la sección de la Bonoloto nos vamos a apoyar en la <b>Regla de Laplace</b> para determinar la probabilidad
                                            de cada una de las categorías:
                                        div.text-center.v-margin
                                            span
                                                b Probabilidad
                                            span.equal
                                                b =
                                            div.fraction
                                                span.fup
                                                    b Casos favorables
                                                span.fdn
                                                    b Casos posibles
                                        p.
                                            Se puede consultar el detalle de las categorías de premios de la <b>Primitiva</b> en el siguiente
                                            <a href="https://www.loteriasyapuestas.es/es/la-primitiva/como-se-juega/como-jugar-a-la-primitiva" target="_blank" title="Normas de Primitiva">enlace</a>.
                                        p.qdb-black.
                                            También haremos uso de la combinatoria. La fórmula para saber cuántas combinaciones
                                            de <b>m</b> elementos tomados de <b>n</b> en <b>n</b> elementos es:
                                        div.text-center.v-margin
                                            div.combination
                                                b C
                                                span.combination-indexes
                                                    sup
                                                        b n
                                                    sub
                                                        b m
                                            span.equal
                                                b =
                                            div.fraction
                                                span.fup
                                                    b m!
                                                span.fdn
                                                    b n! &#x00D7; (m - n)!


                                        p.qdb-black.
                                            Dado que hay 49 números y el resultado estará conformado por 6, el cálculo sería el siguiente:
                                        div.text-center.v-margin
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 6
                                                    sub 49
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 49!
                                                span.fdn 6! &#x00D7; (49 - 6)!
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 49!
                                                span.fdn 6! &#x00D7; 43!
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 49 &#x00D7; 48 &#x00D7; 47 &#x00D7; 46 &#x00D7; 45 &#x00D7; 44 &#x00D7; <del>43!</del>
                                                span.fdn 6 &#x00D7; 5 &#x00D7; 4 &#x00D7; 3 &#x00D7; 2 &#x00D7; <del>43!</del>
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 10068347520
                                                span.fdn 720

                                        p.qdb-black.
                                            Al igual que en la <a href="/bonoloto" title="Bonoloto">Bonoloto</a> hay casi <b>14 millones</b> de
                                            combinaciones posibles de 49 números tomados en grupos de 6.

                                        h3#probability-three-numbers.qdb-black.index-title 2.1. Probabilidad de acertar 3 números en la Primitiva

                                        p.qdb-black.
                                            Como se explica en la sección de la <a href="/bonoloto" title="Bonoloto">Bonoloto</a>, para conocer la probabilidad de obtener 3
                                            aciertos hay que calcular por separado la probabilidad de acertar un número, multiplicándola por la probabilidad del
                                            siguiente acierto, lo cual implica restar un acierto posible y una bola del total. Seguidamente, hacemos lo propio
                                            con el tercer acierto. Matemáticamente, sería como se indica a continuación:
                                        div.text-center.v-margin
                                            span Probabilidad (3 ó más aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 6
                                                span.fdn 49
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 5
                                                span.fdn 48
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 47
                                        p.qdb-black.
                                            Debemos saber que estamos incluyendo las probabilidades de obtener más aciertos de los que buscamos, que son 3.
                                            Por tanto, si queremos precisar tenemos que añadir la restricción de fallar las 3 bolas restantes. Dicho esto, los
                                            cálculos quedarían del siguiente modo:
                                        div.text-center.v-margin
                                            span Probabilidad (3 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 6
                                                span.fdn 49
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 5
                                                span.fdn 48
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 47
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 43
                                                span.fdn 46
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 42
                                                span.fdn 45
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 41
                                                span.fdn 44
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 8885520
                                                span.fdn 10068347520

                                        p.qdb-black.
                                            Sin embargo, hay que tener presente que no sólo nos vale una combinación, sino que nos vale cualquiera que contenga
                                            una de las combinaciones que tengan 3 de esos 6 números. Por tanto, para obtener la probabilidad real
                                            habrá que multiplicar el resultado anterior por la combinación de las 6 bolas que significan un acierto
                                            tomadas de 3 en 3:
                                        div.text-center.v-margin
                                            span Probabilidad (3 aciertos)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 3
                                                    sub 6
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 8885520
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            span 20
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 8885520
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 177710400
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 246820
                                                span.fdn
                                                    b 13983816


                                        h3#probability-four-numbers.qdb-black.index-title 2.2. Probabilidad de acertar 4 números en la Primitiva
                                        p.qdb-black.
                                            El caso de la probabilidad exacta de obtener 4 aciertos es igual que el anterior, sólo que elevando en una unidad el
                                            número de aciertos y reduciéndolo en una el de los fallos. Los cálculos serían:
                                        div.text-center.v-margin
                                            span Probabilidad (4 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 6
                                                span.fdn 49
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 5
                                                span.fdn 48
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 47
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 3
                                                span.fdn 46
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 43
                                                span.fdn 45
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 42
                                                span.fdn 44
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 650160
                                                span.fdn 10068347520
                                        p.qdb-black.
                                            Como se ha comentado anteriormente, debemos incluir aquellas combinaciones en las que las bolas acertadas varíen,
                                            ya que no nos importa qué combinación de las posibles sea la resultante. En este caso los cálculos serían los siguientes:
                                        div.text-center.v-margin
                                            span Probabilidad (4 aciertos)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 4
                                                    sub 6
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 650160
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            span 15
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 650160
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 9752400
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 13545
                                                span.fdn
                                                    b 13983816

                                        h3#probability-five-numbers.qdb-black.index-title 2.3. Probabilidad de acertar 5 números en la Primitiva
                                        p.qdb-black.
                                            Este caso se complica si lo comparamos con el resto. Siguiendo con el razonamiento previo uno puede pensar que
                                            los cálculos serían:
                                        div.text-center.v-margin
                                            span Probabilidad (5 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 6
                                                span.fdn 49
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 5
                                                span.fdn 48
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 47
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 3
                                                span.fdn 46
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 45
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 43
                                                span.fdn 44

                                        p.qdb-black.
                                            Pero tenemos que ser conscientes de que hay una categoría de premios entre 5 aciertos y 6, en la cual entra en escena
                                            el complementario. En las categorías previas nos daba igual incluirlo, puesto que era una bola indiferente a efectos
                                            de premio. Sin embargo, en esta ocasión no es lo mismo acertarlo que fallarlo. Por tanto, tenemos que añadir
                                            la condición de fallar el complementario para centrarnos en los 5 aciertos exactos.
                                            Si lo trasladamos a los cálculos tendríamos que:

                                        div.text-center.v-margin
                                            span Probabilidad (5 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 6
                                                span.fdn 49
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 5
                                                span.fdn 48
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 47
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 3
                                                span.fdn 46
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 45
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup
                                                    del 43
                                                span.fdn 44
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 42
                                                span.fdn
                                                    del 43
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 30240
                                                span.fdn 10068347520
                                        p.qdb-black.
                                            Hecho este ajuste, ahora sí podemos aplicar la lógica anterior de las combinaciones de los números,
                                            puesto que no es relevante la bola no acertada:
                                        div.text-center.v-margin
                                            span Probabilidad (5 aciertos)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 5
                                                    sub 6
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 30240
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            span 6
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 30240
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 181440
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 252
                                                span.fdn
                                                    b 13983816

                                        h3#probability-five-numbers-and-complementary.qdb-black.index-title 2.4. Probabilidad de acertar 5 números y el complementario en la Primitiva
                                        p.qdb-black.
                                            Los cálculos para determinar la probabilidad de acertar 5 números y el complementario son similares al caso anterior, con la diferencia de que
                                            en éste sí tenemos que acertar el complementario: no nos vale fallar la séptima bola.
                                        div.text-center.v-margin
                                            span Probabilidad (5 aciertos y el complementario)
                                            span.equal =
                                            div.fraction
                                                span.fup 6
                                                span.fdn 49
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 5
                                                span.fdn 48
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 47
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 3
                                                span.fdn 46
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 45
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup
                                                    del 43
                                                span.fdn 44
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn
                                                    del 43
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 720
                                                span.fdn 10068347520

                                        p.qdb-black.
                                            Una vez más no nos importa cuál de las 6 bolas sea la no acertada. El resto de los cálculos coinciden con el caso anterior
                                            tal y como se puede comprobar:

                                        div.text-center.v-margin
                                            span Probabilidad (5 aciertos y el complementario)
                                            span.equal =
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 5
                                                    sub 6
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 720
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            span 6
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 720
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 6
                                                span.fdn
                                                    b 13983816

                                        h3#probability-six-numbers.qdb-black.index-title 2.5. Probabilidad de acertar la Primitiva
                                        p.qdb-black.
                                            Este caso es el más sencillo de calcular de todos, puesto que para acertar la <b>Primitiva</b> es necesario que acertemos todas
                                            y cada una de las 6 bolas resultantes, sin fallos que valgan. Por tanto, no hay que contemplar ningún tipo de
                                            casuística de distinto orden de números, ni complementario, etc.
                                        div.text-center.v-margin
                                            span Probabilidad (6 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 6
                                                span.fdn 49
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 5
                                                span.fdn 48
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 4
                                                span.fdn 47
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 3
                                                span.fdn 46
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 45
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 44
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup 720
                                                span.fdn 10068347520
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 1
                                                span.fdn
                                                    b 13983816

                                        h3#probability-reimbursement.qdb-black.index-title 2.6. Probabilidad de acertar el reintegro
                                        p.qdb-black.
                                            Recordemos que en el reintegro hay 10 bolas numeradas del 0 al 9. Como sólo nos vale acertar una de las 10 bolas,
                                            la probabilidad de acertar el reintegro es:
                                        div.text-center.v-margin
                                            span Probabilidad (reintegro)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 10

                                        h3#probability-six-numbers-and-reimbursement.qdb-black.index-title 2.7. Probabilidad de acertar la categoría especial de la Primitiva
                                        p.qdb-black.
                                            Este caso es igual que el caso de acertar los 6 números, sólo que tenemos que añadir la restricción de acertar de formar
                                            adicional el reintegro. Por tanto, basta con multiplicar ambas probabilidades:
                                        div.text-center.v-margin
                                            span Probabilidad (6 aciertos y el reintegro)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 10
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 13983816
                                            span.equal.
                                                =
                                            div.fraction
                                                span.fup
                                                    b 1
                                                span.fdn
                                                    b 139838160
                                        h3#probability-summary.qdb-black.index-title 2.8. Resumen de probabilidades de la Primitiva por categoría
                                        p.qdb-black.
                                            Como hemos realizado todos los cálculos, podemos finalizar esta sección con un resumen en el que
                                            consten todas y cada una de las categorías de premios de la <b>Primitiva</b> junto con sus probabilidades.
                                        div.table-section
                                            div.table-responsive
                                                table.table.table-bordered
                                                    thead
                                                        tr
                                                            th Categoría
                                                            th Aciertos
                                                            th Probabilidad
                                                    tbody
                                                        tr
                                                            td.align-middle Categoría especial
                                                            td.align-middle 6 + Reintegro
                                                            td
                                                                div.fraction
                                                                    span.fup 1
                                                                    span.fdn 139838160
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.000000007
                                                        tr
                                                            td.align-middle 1ª Categoría
                                                            td.align-middle 6
                                                            td
                                                                div.fraction
                                                                    span.fup 1
                                                                    span.fdn 13983816
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.00000007
                                                        tr
                                                            td.align-middle 2ª Categoría
                                                            td.align-middle 5 + Complementario
                                                            td
                                                                div.fraction
                                                                    span.fup 6
                                                                    span.fdn 13983816
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.000000429
                                                        tr
                                                            td.align-middle 3ª Categoría
                                                            td.align-middle 5
                                                            td
                                                                div.fraction
                                                                    span.fup 252
                                                                    span.fdn 13983816
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.000018
                                                        tr
                                                            td.align-middle 4ª Categoría
                                                            td.align-middle 4
                                                            td
                                                                div.fraction
                                                                    span.fup 13545
                                                                    span.fdn 13983816
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.000969
                                                        tr
                                                            td.align-middle 5ª Categoría
                                                            td.align-middle 3
                                                            td
                                                                div.fraction
                                                                    span.fup 246820
                                                                    span.fdn 13983816
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.017
                                                        tr
                                                            td.align-middle 6ª Categoría
                                                            td.align-middle Reintegro
                                                            td
                                                                div.fraction
                                                                    span.fup 1
                                                                    span.fdn 10
                                                                span.equal &#x2248;
                                                                span.result
                                                                    b 0.1

                                div.main-card-content(style="word-wrap: break-word;")#sources
                                    div.main-card-name
                                        a.recipe-title
                                            h2.caramelo.qdb-black 3. Fuentes
                                    div.main-card-description
                                        p.
                                            Para la redacción de esta página hemos utilizado información y datos de otras webs que nos han sido de gran utilidad.
                                            Por orden de influencia destacamos:
                                        div
                                            ul
                                                li
                                                    a(href="http://www.estadisticaparatodos.es/taller/loterias/primitivas.html", target="_blank", title="Estadística para todos")  http://www.estadisticaparatodos.es/taller/loterias/primitivas.html
                                                li
                                                    a(href="https://www.combinacionganadora.com/primitiva/probabilidades/", target="_blank", title="Combinación ganadora") https://www.combinacionganadora.com/primitiva/probabilidades/
                                                li
                                                    a(href="https://www.laprimitiva.info/bases-del-juego/probabilidades-la-primitiva.html", target="_blank", title="LaPrimitiva.info") https://www.laprimitiva.info/bases-del-juego/probabilidades-la-primitiva.html


                        div.col-md-2.col-sm-12.col-xs-12(style="padding-bottom: 15px; padding-top: 30px")
                            script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                            ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2309187828170787", data-ad-slot="1504415157", data-ad-format="auto")
                            script (adsbygoogle = window.adsbygoogle || []).push({});


                include modals/eliminarRegistro

    include primitiva/partials/footer

block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/i18n/angular-locale_es-es.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/index.js')
    script(src='/js/angular/navbar.js')
    script(src='/js/angular/ui-bootstrap-tpls-1.3.3.js')
    script(src="/bower_components/angular-ui-carousel/dist/ui-carousel.js")

    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-57106519-1', 'auto');
        ga('send', 'pageview');
