extends layout

block head
    title Quiniela | Probabilidades y premios de la quiniela
    //- SEO
    meta(name="description", content="Información sobre las categorías de premios de la quiniela y los cálculos de las probabilidades de acertar.")
    meta(name="keywords", content="quiniela, probabilidades, cálculos, categorías, premios")
    link(rel="canonical", href="http://www.pronostigol.es/quiniela")
    //- OpenGraph
    meta(property="og:locale", content="es_ES")
    meta(property="og:type", content="website")
    meta(property="og:title", content="Quiniela | Probabilidades y premios de la quiniela")
    meta(property="og:description", content="Información sobre las categorías de premios de la quiniela y los cálculos de las probabilidades de acertar.")
    meta(property="og:url", content="http://www.pronostigol.es/quiniela")
    meta(property="og:site_name", content="Pronostigol")
    meta(property="og:image", content="http://www.pronostigol.es/img/logo-quiniela.png")
    //- Twitter
    meta(name="twitter:card", content="summary")
    meta(name="twitter:description", content="Información sobre las categorías de premios de la quiniela y los cálculos de las probabilidades de acertar.")
    meta(name="twitter:title", content="Quiniela | Probabilidades y premios de la quiniela")
    meta(name="twitter:image", content="http://www.pronostigol.es/img/logo-quiniela.png")
    meta(name="twitter:site", content="@pronostigolesp")
    //- Stylesheets
    link(rel="stylesheet", href="/css/quiniela.css")

block content
    div#wrap(data-ng-app="qdb")

        div(data-ng-controller="LoguedUserController")
            div(data-ng-controller="QuinielaController")

                include quiniela/partials/navbar

                div(style="padding: 0 0 0 0")

                    main.container-fluid
                        div.logo-parent.col-md-12.text-center
                            div.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12.logo.logo-quiniela-con-texto-invertido
                                h1.titulo-logo-juego Quiniela

                        div.col-md-2.col-sm-12.col-xs-12(style="padding-top: 30px; padding-bottom: 30px")
                            script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                            ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2309187828170787", data-ad-slot="6074215556", data-ad-format="auto")
                            script (adsbygoogle = window.adsbygoogle || []).push({});

                        div.col-md-8.col-sm-12.col-xs-12(style="margin-top: 30px")
                            div.col-xs-12.col-sm-8.col-sm-offset-2.panel.panel-body.border-qdb
                                div(style="word-wrap: break-word;")
                                    p#contents-index.text-center Índice de contenidos
                                    div.main-card-description
                                        ul.list-unstyled
                                            li
                                                a(href="#introduction", title="Introducción") 1. Introducción
                                            li
                                                a(href="#probabilities", title="Probabilidades") 2. Probabilidades
                                                ul.list-unstyled
                                                    li
                                                        a(href="#probability-ten-results", title="Probabilidad de acertar 10 partidos en la Quiniela") 2.1. Probabilidad de acertar 10 partidos en la Quiniela
                                                    li
                                                        a(href="#probability-eleven-results", title="Probabilidad de acertar 11 partidos en la Quiniela") 2.2. Probabilidad de acertar 11 partidos en la Quiniela
                                                    li
                                                        a(href="#probability-twelve-results", title="Probabilidad de acertar 12 partidos en la Quiniela") 2.3. Probabilidad de acertar 12 partidos en la Quiniela
                                                    li
                                                        a(href="#probability-thirteen-results", title="Probabilidad de acertar 13 partidos en la Quiniela") 2.4. Probabilidad de acertar 13 partidos en la Quiniela
                                                    li
                                                        a(href="#probability-fourteen-results", title="Probabilidad de acertar 14 partidos en la Quiniela") 2.5. Probabilidad de acertar 14 partidos en la Quiniela
                                                    li
                                                        a(href="#probability-special-result", title="Probabilidad de acertar el pleno al quince de la Quiniela") 2.6. Probabilidad de acertar el pleno al quince de la Quiniela
                                                    li
                                                        a(href="#probability-fourteen-results-and-special-result", title="Probabilidad de acertar la Quiniela") 2.7. Probabilidad de acertar la Quiniela
                                                    li
                                                        a(href="#probability-summary", title="Resumen de probabilidades de la Quiniela por categoría") 2.8. Resumen de probabilidades de la Quiniela por categoría
                                            li
                                                a(href="#sources", title="Fuentes") 3. Fuentes


                            div.col-xs-12.panel.panel-body.border-qdb
                                div.main-card-content(style="word-wrap: break-word;")
                                    div.main-card-name#introduction
                                        h2.caramelo.qdb-blue 1. Introducción
                                    div.main-card-description
                                        p.
                                            En esta sección encontrarás multitud de <a href="/quiniela/estadisticas" title="Estadísticas">estadísticas</a> asociadas a la <b>Quiniela</b>
                                            de España. Podrás conocer los resultados más repetidos, el histórico de <a href="/quiniela/sorteos" title="Sorteos">sorteos</a>, los equipos de fútbol que ganan con más frecuencia y una amplia
                                            gama de consultas a realizar.
                                            De este modo te será mucho más sencillo realizar tus quinielas.

                                div.main-card-content(style="word-wrap: break-word;")#probabilities
                                    div.main-card-name(style="margin-top: 30px")
                                        h2.caramelo.qdb-blue 2. Probabilidades
                                    div.main-card-description#bienvenido-description
                                        p.
                                            Por todos es sabido que la <b>Quiniela</b> consiste en acertar los 15 resultados de los partidos de fútbol propuestos.
                                            Para las 14 primeras filas hay que acertar el ganador del partido con los siguientes símbolos: <b>1</b>
                                            si el ganador es el equipo local, <b>X</b> si se produce un empate y <b>2</b> si la victoria es del
                                            equipo visitante.
                                        p.
                                            Para saber la probabilidad de acierto de cada partido usaremos la <b>Regla de Laplace</b>,
                                            que dice lo siguiente:
                                        div.text-center.v-margin
                                            span
                                                b Probabilidad
                                            span.equal
                                                b =
                                            div.fraction
                                                span.fup
                                                    b Casos favorables
                                                span.fdn
                                                    b Casos posibles
                                        p.
                                            Generalmente, en la <b>Quiniela</b> se obtiene premio cuando se aciertan, al menos, 10 resultados de los 15 pronosticables.
                                            Para más info consultar el <b>Capítulo Cuarto. DISTRIBUCIÓN DE FONDOS PARA PREMIOS</b> en el siguiente
                                            <a href="https://www.loteriasyapuestas.es/f/loterias/documentos/normativa/normativa%20SELAE/NORMAS_DE_LA_QUINIELA%20_A%C3%91O_2017.pdf" target="_blank" title="Normas de Quiniela" rel="nofollow">link</a>.

                                        h3#probability-ten-results.qdb-blue.index-title 2.1. Probabilidad de acertar 10 partidos en la Quiniela
                                        p.
                                            En esta primera categoría tenemos que acertar 10 partidos y fallar los otros 4. De momento no nos importa el pleno al 15,
                                            puesto que éste sólo interviene cuando se aciertan los 14.
                                        p.
                                            Dado que en cualquiera de las 14 primeras filas hay 3 posibles resultados pero sólo 1 será el correcto,
                                            la probabilidad de cada fila será <b>1/3</b>, mientras que la probabilidad de fallar una fila será <b>2/3</b>.
                                            Si aplicamos este criterio para calcular la probabilidad de obtener 10 aciertos tenemos que:
                                        div.text-center.v-margin
                                            span Probabilidad (10 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 3
                                        div.text-center.v-margin
                                            span Probabilidad (10 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>10</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>4</sup>
                                                span.fdn 3 <sup>4</sup>

                                        p.
                                            Sin embargo, con este planteamiento estamos suponiendo que sólo nos vale 1 apuesta concreta, ya que el orden
                                            de los resultados importa. Pero si no nos importa en qué orden obtengamos los N aciertos podemos ampliar el
                                            resultado contemplando las combinaciones de dichos aciertos en el resultado:
                                        div.text-center.v-margin
                                            span Probabilidad (10 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>10</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>4</sup>
                                                span.fdn 3 <sup>4</sup>
                                            span.multiplication &#x00D7;
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 10
                                                    sub 14
                                        p.
                                            Podemos generalizar estos cálculos de modo que nos valgan para todas las categorías del siguiente modo:
                                        div.text-center.v-margin
                                            span Probabilidad (N aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>N</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>14 - N</sup>
                                                span.fdn 3 <sup>14 - N</sup>
                                            span.multiplication &#x00D7;
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup N
                                                    sub 14
                                        p.
                                            Llegados a esto punto podemos calcular la probabilidad de obtener 10 aciertos en la <b>Quiniela</b> sustituyendo en la fórmula anterior
                                            la variable N por 10:
                                        div.text-center.v-margin
                                            span Probabilidad (10 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>10</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>14 - 10</sup>
                                                span.fdn 3 <sup>14 - 10</sup>
                                            span.multiplication &#x00D7;
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 10
                                                    sub 14
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>10</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>4</sup>
                                                span.fdn 3 <sup>4</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 14!
                                                span.fdn 10! &#x00D7; 4!
                                        div.text-center.v-margin
                                            span Probabilidad (10 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 2 <sup>4</sup>
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 14 &#x00D7; 13 &#x00D7; <del>12</del> &#x00D7; 11 &#x00D7; <del>10!</del>
                                                span.fdn <del>10!</del> &#x00D7; <del>4</del> &#x00D7; <del>3</del> &#x00D7; 2
                                            span.equal =
                                            div.fraction
                                                span.fup 2 <sup>4</sup>
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            span 7 &#x00D7; 13 &#x00D7; 11
                                        div.text-center.v-margin
                                            span
                                                b Probabilidad (10 aciertos)
                                            span.equal
                                                b =
                                            div.fraction
                                                span.fup
                                                    b 2 <sup>4</sup>
                                                span.fdn
                                                    b 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            span
                                                b 1001

                                        h3#probability-eleven-results.qdb-blue.index-title 2.2. Probabilidad de acertar 11 partidos en la Quiniela
                                        p.
                                            Para calcular la probabilidad de acertar 11 resultados en la <b>Quiniela</b> tenemos que sustituir la variable N de la fórmula
                                            con el valor 11. Hecho esto tenemos:
                                        div.text-center.v-margin
                                            span Probabilidad (11 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>11</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>14 - 11</sup>
                                                span.fdn 3 <sup>14 - 11</sup>
                                            span.multiplication &#x00D7;
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 11
                                                    sub 14
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>11</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>3</sup>
                                                span.fdn 3 <sup>3</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 14!
                                                span.fdn 11! &#x00D7; 3!
                                        div.text-center.v-margin
                                            span Probabilidad (11 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 2 <sup>3</sup>
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 14 &#x00D7; 13 &#x00D7; 12 &#x00D7; <del>11!</del>
                                                span.fdn <del>11!</del> &#x00D7; 3 &#x00D7; 2
                                            span.equal =
                                            div.fraction
                                                span.fup 2 <sup>3</sup>
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            span 14 &#x00D7; 13 &#x00D7; 2
                                        div.text-center.v-margin
                                            span
                                                b Probabilidad (11 aciertos)
                                            span.equal
                                                b =
                                            div.fraction
                                                span.fup
                                                    b 2 <sup>3</sup>
                                                span.fdn
                                                    b 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            span
                                                b 364

                                        h3#probability-twelve-results.qdb-blue.index-title 2.3. Probabilidad de acertar 12 partidos en la Quiniela
                                        p.
                                            Si queremos calcular la probabilidad de acertar 12 resultados en la <b>Quiniela</b> tenemos que sustituir la variable N de la fórmula
                                            con el valor 12. Hecho esto tenemos:
                                        div.text-center.v-margin
                                            span Probabilidad (12 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>12</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>14 - 12</sup>
                                                span.fdn 3 <sup>14 - 12</sup>
                                            span.multiplication &#x00D7;
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 12
                                                    sub 14
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>12</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>2</sup>
                                                span.fdn 3 <sup>2</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 14!
                                                span.fdn 12! &#x00D7; 2!
                                        div.text-center.v-margin
                                            span Probabilidad (12 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 2 <sup>2</sup>
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 14 &#x00D7; 13 &#x00D7; <del>12!</del>
                                                span.fdn <del>12!</del> &#x00D7; 2
                                            span.equal =
                                            div.fraction
                                                span.fup 2 <sup>2</sup>
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            span 7 &#x00D7; 13
                                        div.text-center.v-margin
                                            span
                                                b Probabilidad (12 aciertos)
                                            span.equal
                                                b =
                                            div.fraction
                                                span.fup
                                                    b 2 <sup>2</sup>
                                                span.fdn
                                                    b 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            span
                                                b 91

                                        h3#probability-thirteen-results.qdb-blue.index-title 2.4. Probabilidad de acertar 13 partidos en la Quiniela
                                        p.
                                            A continuación vamos a calcular la probabilidad de acertar 13 resultados en la <b>Quiniela</b>. Para ello tenemos que
                                            sustituir la variable N de la fórmula con el valor 13:
                                        div.text-center.v-margin
                                            span Probabilidad (13 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>13</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>14 - 13</sup>
                                                span.fdn 3 <sup>14 - 13</sup>
                                            span.multiplication &#x00D7;
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 13
                                                    sub 14
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>13</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2
                                                span.fdn 3
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 14!
                                                span.fdn 13! &#x00D7; 1
                                        div.text-center.v-margin
                                            span Probabilidad (13 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 2
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 14 &#x00D7; <del>13!</del>
                                                span.fdn <del>13!</del>
                                            span.equal =
                                            div.fraction
                                                span.fup 2
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            span 14
                                        div.text-center.v-margin
                                            span
                                                b Probabilidad (13 aciertos)
                                            span.equal
                                                b =
                                            div.fraction
                                                span.fup
                                                    b 2
                                                span.fdn
                                                    b 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            span
                                                b 14

                                        h3#probability-fourteen-results.qdb-blue.index-title 2.5. Probabilidad de acertar 14 partidos en la Quiniela
                                        p.
                                            Para cerrar este círculo vamos a calcular la probabilidad de acertar 14 resultados en la <b>Quiniela</b>.
                                            Una vez más, sólo tenemos que reemplazar la variable N de la fórmula con el valor 14. Cuando la hagamos
                                            tendremos que:
                                        div.text-center.v-margin
                                            span Probabilidad (14 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>14 - 14</sup>
                                                span.fdn 3 <sup>14 - 14</sup>
                                            span.multiplication &#x00D7;
                                            div.combination
                                                | C
                                                span.combination-indexes
                                                    sup 14
                                                    sub 14
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 2 <sup>0</sup>
                                                span.fdn 3 <sup>0</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup <del>14!</del>
                                                span.fdn <del>14!</del>
                                        div.text-center.v-margin
                                            span Probabilidad (14 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 1
                                            span.multiplication &#x00D7;
                                            span 1
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>14</sup>
                                        div.text-center.v-margin
                                            span
                                                b Probabilidad (14 aciertos)
                                            span.equal
                                                b =
                                            div.fraction
                                                span.fup
                                                    b 1
                                                span.fdn
                                                    b 3 <sup>14</sup>
                                        h3.qdb-blue.index-title#probability-special-result 2.6. Probabilidad de acertar el pleno al quince de la Quiniela
                                        p.
                                            Desde la temporada 2013-2014, el pleno al 15 vio modificado su formato adoptando el mismo que el del
                                            <a href="https://www.loteriasyapuestas.es/es/el-quinigol" target="_blank" title="Quinigol" rel="nofollow">Quinigol</a>.
                                            En este formato hay que acertar los goles de cada equipo, de modo que en el caso de 3 ó más goles sólo es necesario
                                            indicar el signo <b>M</b>. Por ejemplo, si el resultado del partido situado en el pleno al 15 es 4-2, el resultado de
                                            dicha fila sería <b>M-2</b>.
                                        p.
                                            Los posibles signos para los 2 partidos del pleno son: <b>0</b>, <b>1</b>, <b>2</b> y <b>M</b>.
                                            Por tanto, la probabilidad de acertar el pleno es:
                                        div.text-center
                                            span
                                                b Probabilidad (Pleno al 15) =
                                            div.fraction
                                                span.fup
                                                    b 1
                                                span.fdn
                                                    b 4 (resultados posibles)<sup>2(partidos)</sup>
                                            span
                                                b.
                                                    =
                                            div.fraction
                                                span.fup
                                                    b 1
                                                span.fdn
                                                    b 16
                                            span
                                                b.
                                                    = 0.0625

                                        h3#probability-fourteen-results-and-special-result.qdb-blue.index-title 2.7. Probabilidad de acertar la Quiniela
                                        p.
                                            Para calcular la probabilidad de acertar la <b>Quiniela</b> tenemos que, ahora sí, contemplar el resultado
                                            del pleno al quince. Tenemos que partir de la fórmula inicial y multiplicar las probabilidades de acertar por
                                            separado los 2 signos del pleno.
                                        div.text-center.v-margin
                                            span Probabilidad (15 aciertos)
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 4
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 4
                                            span.equal =
                                            div.fraction
                                                span.fup 1
                                                span.fdn 3 <sup>14</sup>
                                            span.multiplication &#x00D7;
                                            div.fraction
                                                span.fup 1
                                                span.fdn 4 <sup>2</sup>
                                        div.text-center.v-margin
                                            span
                                                b Probabilidad (15 aciertos)
                                            span.equal
                                                b =
                                            div.fraction
                                                span.fup
                                                    b 1
                                                span.fdn
                                                    b 3 <sup>14</sup>
                                            span.multiplication
                                                b &#x00D7;
                                            div.fraction
                                                span.fup
                                                    b 1
                                                span.fdn
                                                    b 16

                                        h3#probability-summary.qdb-blue.index-title 2.8. Resumen de probabilidades de la Quiniela por categoría

                                        p.
                                            Una vez que hemos realizado todos los planteamientos tan sólo tenemos que resolver de forma exacta las
                                            fracciones para determinar la probabilidad de cada categoría:
                                        div.table-section
                                            div.table-responsive
                                                table.table.table-bordered
                                                    thead
                                                        tr
                                                            th Categoría
                                                            th Aciertos
                                                            th Probabilidad
                                                    tbody
                                                        tr
                                                            td.align-middle Especial
                                                            td.align-middle 14 + Pleno al 15
                                                            td
                                                                div.fraction
                                                                    span.fup
                                                                        b 1
                                                                    span.fdn
                                                                        b 3 <sup>14</sup>
                                                                span
                                                                    b &#x00D7;
                                                                div.fraction
                                                                    span.fup
                                                                        b 1
                                                                    span.fdn
                                                                        b 4<sup>2</sup>
                                                                span
                                                                    b.
                                                                        =
                                                                div.fraction
                                                                    span.fup
                                                                        b 1
                                                                    span.fdn
                                                                        b 4782969
                                                                span
                                                                    b &#x00D7;
                                                                div.fraction
                                                                    span.fup
                                                                        b 1
                                                                    span.fdn
                                                                        b 16
                                                                span
                                                                    b.
                                                                        =
                                                                div.fraction
                                                                    span.fup
                                                                        b 1
                                                                    span.fdn
                                                                        b 76527504
                                                                span.equal
                                                                    b.
                                                                        &#x2248;
                                                                span
                                                                    b 0.000000013
                                                        tr
                                                            td.align-middle 1ª Categoría
                                                            td.align-middle 14
                                                            td
                                                                div.fraction
                                                                    span.fup
                                                                        b 1
                                                                    span.fdn
                                                                        b 3 <sup>14</sup>
                                                                span
                                                                    b.
                                                                        =
                                                                div.fraction
                                                                    span.fup
                                                                        b 1
                                                                    span.fdn
                                                                        b 4782969
                                                                span.equal
                                                                    b &#x2248;
                                                                span
                                                                    b 0.0000002
                                                        tr
                                                            td.align-middle 2ª Categoría
                                                            td.align-middle 13
                                                            td
                                                                div.fraction
                                                                    span.fup
                                                                        b 2
                                                                    span.fdn
                                                                        b 3 <sup>14</sup>
                                                                span.multiplication
                                                                    b &#x00D7;
                                                                span
                                                                    b 14
                                                                span.equal
                                                                    b.
                                                                        =
                                                                div.fraction
                                                                    span.fup
                                                                        b 2
                                                                    span.fdn
                                                                        b 4782969
                                                                span.multiplication
                                                                    b &#x00D7;
                                                                span
                                                                    b 14
                                                                span.equal
                                                                    b &#x2248;
                                                                span
                                                                    b 0.0000059
                                                        tr
                                                            td.align-middle 3ª Categoría
                                                            td.align-middle 12
                                                            td
                                                                div.fraction
                                                                    span.fup
                                                                        b 2 <sup>2</sup>
                                                                    span.fdn
                                                                        b 3 <sup>14</sup>
                                                                span.multiplication
                                                                    b &#x00D7;
                                                                span
                                                                    b 91
                                                                span.equal
                                                                    b.
                                                                        =
                                                                div.fraction
                                                                    span.fup
                                                                        b 4
                                                                    span.fdn
                                                                        b 4782969
                                                                span.multiplication
                                                                    b &#x00D7;
                                                                span
                                                                    b 91
                                                                span.equal
                                                                    b &#x2248;
                                                                span
                                                                    b 0.000076
                                                        tr
                                                            td.align-middle 4ª Categoría
                                                            td.align-middle 11
                                                            td
                                                                div.fraction
                                                                    span.fup
                                                                        b 2 <sup>3</sup>
                                                                    span.fdn
                                                                        b 3 <sup>14</sup>
                                                                span.multiplication
                                                                    b &#x00D7;
                                                                span
                                                                    b 364
                                                                span.equal
                                                                    b.
                                                                        =
                                                                div.fraction
                                                                    span.fup
                                                                        b 8
                                                                    span.fdn
                                                                        b 4782969
                                                                span.multiplication
                                                                    b &#x00D7;
                                                                span
                                                                    b 364
                                                                span.equal
                                                                    b &#x2248;
                                                                span
                                                                    b 0.00061
                                                        tr
                                                            td.align-middle 5ª Categoría
                                                            td.align-middle 10
                                                            td
                                                                div.fraction
                                                                    span.fup
                                                                        b 2 <sup>4</sup>
                                                                    span.fdn
                                                                        b 3 <sup>14</sup>
                                                                span.multiplication
                                                                    b &#x00D7;
                                                                span
                                                                    b 1001
                                                                span.equal
                                                                    b.
                                                                        =
                                                                div.fraction
                                                                    span.fup
                                                                        b 16
                                                                    span.fdn
                                                                        b 4782969
                                                                span.multiplication
                                                                    b &#x00D7;
                                                                span
                                                                    b 1001
                                                                span.equal
                                                                    b &#x2248;
                                                                span
                                                                    b 0.0033


                                    div.main-card-content(style="word-wrap: break-word;")#sources
                                        div.main-card-name(style="margin-top: 30px")
                                            h2.caramelo.qdb-blue 3. Fuentes
                                        div.main-card-description
                                            p.
                                                Para la redacción de esta página nos hemos apoyado en la información publicada en otras webs interesantes.
                                                Entre ellas destacamos las siguientes:
                                            div
                                                ul
                                                    li
                                                        a(href="https://www.pdcahome.com/5116/es-rentable-jugar-a-la-quiniela-probabilidades-de-ganar/", target="_blank", title="PCDA Home", rel="nofollow") https://www.pdcahome.com/5116/es-rentable-jugar-a-la-quiniela-probabilidades-de-ganar/
                                                    li
                                                        a(href="http://www.estadisticaparatodos.es/taller/loterias/quinielas14.html", target="_blank", title="Estadísticas para todos", rel="nofollow")  http://www.estadisticaparatodos.es/taller/loterias/quinielas14.html
                                            p.
                                                También hay que destacar la fuente de la que hemos tomado la implementación de las fracciones matemáticas en HTML. Se trata de
                                                la siguiente página:
                                            div
                                                ul
                                                    li
                                                        a(href="https://www.periodni.com/es/ecuaciones_matematicas_y_quimicas_en_la_web.html", target="_blank", title="www.periodni.com", rel="nofollow")  https://www.periodni.com/es/ecuaciones_matematicas_y_quimicas_en_la_web.html




                        div.col-md-2.col-sm-12.col-xs-12(style="padding-bottom: 30px; padding-top: 30px")
                            script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
                            ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2309187828170787", data-ad-slot="1504415157", data-ad-format="auto")
                            script (adsbygoogle = window.adsbygoogle || []).push({});


                include modals/eliminarRegistro

    include partials/footer

block scripts
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/angular.js')
    script(src='/js/angular/i18n/angular-locale_es-es.js')
    script(src='/js/angular/services.js')
    script(src='/js/angular/loguedUser.js')
    script(src='/js/angular/quiniela.js')
    script(src='/js/angular/navbar.js')
    script(src='/js/angular/ui-bootstrap-tpls-1.3.3.js')
    script(src="/bower_components/angular-ui-carousel/dist/ui-carousel.js")

    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-57106519-1', 'auto');
        ga('send', 'pageview');
