body {
    padding-top: 50px;
    background-color: #eeeeee;
    padding-bottom: 80px;
}

.navbar .container .navbar-brand {
    margin-left: 25px;
    padding: 5px 10px 0 0;
}

header .container {
    width: 100%;
}

.btn-eathub {
    color: #fff;
    background-color: #CC3E27;
    border-color: #cc3e27;
}

.btn-eathub.btn.btn-default:hover, .btn-eathub.btn.btn-default:focus, .btn-eathub.btn.btn-default:active {
    color: #cc3e27;
    background-color: #fff;
    border-color: #cc3e27;
}

.btn-eathub-inverted {
    color: #CC3E27;
    background-color: #fff;
    border-color: #cc3e27;
}

.btn-eathub-inverted.btn.btn-default:hover, .btn-eathub-inverted.btn.btn-default:focus, .btn-eathub-inverted.btn.btn-default:active {
    color: #fff;
    background-color: #cc3e27;
    border-color: #cc3e27;
}

.input-group-btn > .btn {
    background-color: #CC3E27;
    color: #fff;
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.input-group-btn > .btn:hover {
    color: #CC3E27;
    background-color: #fff;
    border-color: #D66552;
}

.input-group .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

.form {
    margin: 0 auto;
    float: none;
}

.main-card-description p{
    text-overflow: ellipsis !important;
    overflow:hidden !important;
}

.main-card-content {
    height: 130px;
}

.border-default {
    border-color: #cc3e27;
}

.panel, .border-rect {
    border: 1px solid #eee;
}

.main-card-name {
    margin-bottom: 10px;
    overflow: hidden;
}

.main-card-name span  {
    font-size: 30px;
    font-weight: 400;
    color: #CC3E27;
    max-height: 120px;
    text-overflow: ellipsis;
    line-height: 120%;
}

.main-card-name a:hover {
    text-decoration: None;
}

.main-card {
    height: 400px;
    position: relative;
}

.plus.btn.btn-contact:hover, .plus.btn.btn-contact:focus, .plus.btn.btn-contact:active {
    color: #cc3e27;
    background-color: #fff;
    border-color: #cc3e27;
}

#container {
    position: relative;
    min-height: 100%;
}

main {
    padding-bottom: 60px;
}

html, body {
    height: 100%;
    padding-bottom: 0;
}

.navbar-nav>li>a{
    color: #fff !important;
}

.navbar-nav>.active>a{
    font-weight: bold !important;
}

.btn-eathub-red {
    color: #fff;
    background-color: #cc3e27;
    border-color: #cc3e27;
}

.btn-eathub-red.btn.btn-default:hover, .btn-eathub-red.btn.btn-default:focus, .btn-eathub-red.btn.btn-default:active {
    color: #fff;
    background-color: #cc3e27;
    border-color: #a23422;
}

.btn-eathub-inverted-red {
    color: #fff;
    background-color: #a23422;
    border-color: #b65252;
}

.btn-eathub-inverted-red.btn.btn-default:hover, .btn-eathub-inverted-red.btn.btn-default:focus, .btn-eathub-inverted-red.btn.btn-default:active {
    color: #fff;
    background-color: #cc3e27;
    border-color: #a23422;
}

.navbar-default .navbar-toggle{
    border-color: #cc3e27 !important;
}

.navbar-default:hover .navbar-toggle:hover{
    background-color: #cc3e27 !important;
    border-color: #a23422 !important;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #cc3e27 !important;
    border-color: #a23422 !important;
}