div.table-responsive(style="margin-top: 15px", data-ng-if="mostrar.tablaAparicionesPorParejaDeEstrellas", data-ng-cloak)
    table.table.table-bordered.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorParejaDeEstrellasSegun('starsPair'); consultarEstandar()", data-ng-bind-template="Estrellas")
                    span(data-ng-if="criterioOrdenacionAparicionesPorParejaDeEstrellas == 'starsPair' && !ordenAparicionesPorParejaDeEstrellas").fa.fa-caret-up
                    span(data-ng-if="criterioOrdenacionAparicionesPorParejaDeEstrellas == 'starsPair' && ordenAparicionesPorParejaDeEstrellas").fa.fa-caret-down
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorParejaDeEstrellasSegun('occurrences'); consultarEstandar()", data-ng-bind-template="Apariciones")
                    span(data-ng-if="criterioOrdenacionAparicionesPorParejaDeEstrellas == 'occurrences' && ordenAparicionesPorParejaDeEstrellas").fa.fa-caret-down
                    span(data-ng-if="criterioOrdenacionAparicionesPorParejaDeEstrellas == 'occurrences' && !ordenAparicionesPorParejaDeEstrellas").fa.fa-caret-up


        tbody
            tr(data-ng-repeat="parejaDeEstrellas in aparicionesPorParejaDeEstrellas")
                td
                    span.badge.badge-azul(data-ng-repeat="estrella in parejaDeEstrellas.estrellas", data-ng-bind-template="{{printNumber(estrella.numero)}}")
                td(data-ng-bind-template="{{parejaDeEstrellas.apariciones}}")