sidenav {

    .md-button {
        font-size: 14px;
        background: transparent;
    }

    .menu-toggle-list {
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    md-sidenav {
        &.site-sidenav {
            background: #106CC8;

            md-content {
                background: transparent;

                ul {

                    menu-toggle {
                        md-icon {
                            color: white;
                        }
                    }

                    &.navs-menu {
                        padding: 0;
                        color: white;

                        .md-button {
                            border-radius: 0;
                            color: white;
                            cursor: pointer;
                            display: block;
                            align-items: inherit;
                            line-height: 40px;
                            margin: 0;
                            max-height: 40px;
                            overflow: hidden;
                            padding: 0 16px;
                            text-align: left;
                            text-decoration: none;
                            white-space: normal;
                            width: 100%;

                            &:hover,
                            &:focus {
                                background: #1D77D5 !important
                            }
                        }

                        ul {

                            &.menu-toggle-list {
                                padding: 0;

                                a {
                                    &.md-button {
                                        display: block;
                                        padding: 0 16px 0 32px;
                                        text-transform: none;
                                        text-rendering: optimizeLegibility;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        header {
            background: linear-gradient(#185694, #106cc8);

            a {
                text-decoration: none;

                #sidebar-logo {
                    color: white;
                    text-align: center;
                    font-size: 200px;
                    display: block;
                    font-style: italic;
                }
            }
        }
    }
}