div.col-md-12.alert.alert-info(data-ng-if="mostrarPlenoRenovadoLocalYVisitante", data-ng-cloak).
    La siguientes tablas contienes los resultados del pleno al 15 a partir de la 2014-2015, en
    la que el formato cambió. Por tanto, esta tabla no mostrará datos de la 2013-2014.

div.table-responsive(data-ng-if="mostrarPlenoRenovadoLocalYVisitante", data-ng-cloak)
    table.table.table-bordered.col-xs-12
        thead
            tr
                th(colspan="18") Datos como local
            tr
                th Fila
                th.badge-pleno 0-0
                th.badge-pleno 0-1
                th.badge-pleno 0-2
                th.badge-pleno 0-M
                th.badge-pleno 1-0
                th.badge-pleno 1-1
                th.badge-pleno 1-2
                th.badge-pleno 1-M
                th.badge-pleno 2-0
                th.badge-pleno 2-1
                th.badge-pleno 2-2
                th.badge-pleno 2-M
                th.badge-pleno M-0
                th.badge-pleno M-1
                th.badge-pleno M-2
                th.badge-pleno M-M
                th Número de partidos
        tbody
            tr
                td 15
                td(data-ng-repeat="res in resultadosPlenoRenovado")
                    // El mas frecuente en solitario
                    span.badge.badge-verde(data-ng-if="resultadoPlenoMasFrecuenteEnSolitario(plenosRenovadosLocal, res, plenosRenovadosLocal[res])", data-ng-bind-template="{{plenosRenovadosLocal[res]}}")
                    span.badge.badge-naranja(data-ng-if="resultadoPlenoMasFrecuenteEmpatado(plenosRenovadosLocal, res, plenosRenovadosLocal[res])", data-ng-bind-template="{{plenosRenovadosLocal[res]}}")
                    span.badge.badge-rojo(data-ng-if="resultadoPlenoMenosFrecuente(plenosRenovadosLocal, res, plenosRenovadosLocal[res])", data-ng-bind-template="{{plenosRenovadosLocal[res]}}")
                td(data-ng-bind-template="{{sumaDePlenosRenovadosComoLocal()}}")
            tr
                td(colspan="17")
                td(data-ng-bind-template="{{sumaDeVictoriasLocales() + sumaDeEmpates() + sumaDeVictoriasVisitantes() + sumaDePlenosRenovados()}}")


div.table-responsive(data-ng-if="mostrarPlenoRenovadoLocalYVisitante", data-ng-cloak)
    table.table.table-bordered.table-responsive(data-ng-if="mostrarPlenoRenovadoLocalYVisitante", data-ng-cloak)
        thead
            tr
                th(colspan="18") Datos como vistante
            tr
                th Fila
                th.badge-pleno 0-0
                th.badge-pleno 0-1
                th.badge-pleno 0-2
                th.badge-pleno 0-M
                th.badge-pleno 1-0
                th.badge-pleno 1-1
                th.badge-pleno 1-2
                th.badge-pleno 1-M
                th.badge-pleno 2-0
                th.badge-pleno 2-1
                th.badge-pleno 2-2
                th.badge-pleno 2-M
                th.badge-pleno M-0
                th.badge-pleno M-1
                th.badge-pleno M-2
                th.badge-pleno M-M
                th Número de partidos
        tbody
            tr
                td 15
                td(data-ng-repeat="res in resultadosPlenoRenovado")
                    // El mas frecuente en solitario
                    span.badge.badge-verde(data-ng-if="resultadoPlenoMasFrecuenteEnSolitario(plenosRenovadosVisitante, res, plenosRenovadosVisitante[res])", data-ng-bind-template="{{plenosRenovadosVisitante[res]}}")
                    span.badge.badge-naranja(data-ng-if="resultadoPlenoMasFrecuenteEmpatado(plenosRenovadosVisitante, res, plenosRenovadosVisitante[res])", data-ng-bind-template="{{plenosRenovadosVisitante[res]}}")
                    span.badge.badge-rojo(data-ng-if="resultadoPlenoMenosFrecuente(plenosRenovadosVisitante, res, plenosRenovadosVisitante[res])", data-ng-bind-template="{{plenosRenovadosVisitante[res]}}")
                td(data-ng-bind-template="{{sumaDePlenosRenovadosComoVisitante()}}")
            tr
                td(colspan="17")
                td(data-ng-bind-template="{{sumaDeVictoriasLocales() + sumaDeEmpates() + sumaDeVictoriasVisitantes() + sumaDePlenosRenovados()}}")
