div.hidden-md.hidden-lg.hidden-sm.col-xs-12
    div.panel.panel-default.panel-body.text-center
        div.col-xs-6.hidden-md.hidden-lg
            a.btn.btn-default.btn-lagloria(href="/buscar")#buscar Buscar
                i.fa.fa-search(style="margin-left:15px")
        div.col-xs-6.hidden-md.hidden-lg(data-ng-show="usuarioEstaLogueado == false")
            a.btn.btn-default.btn-lagloria.btn-login(href="/login", title="Entrar", role="button") Entrar
        div.col-xs-6.hidden-md.hidden-lg(data-ng-show="usuarioEstaLogueado")
            a.btn.btn-default.btn-lagloria.btn-login(href="#", title="Cerrar sesión", data-ng-click="cerrarSesion();", role="button") Cerrar sesión
