div.footer.footerEuromillones.col-md-12.col-sm-12.col-xs-12#footer
    div.container.col-md-12.col-sm-12.col-xs-12.text-center(ng-controller="FooterController")
        div.col-md-4.col-sm-6.col-xs-12(style="padding-top:10px")
            h2 Información
            h3
                a(href="/preguntasFrecuentes") Preguntas frecuentes
            h3
                a(href="/docs", target="_blank") Documentación de API Rest
        div.col-md-4.col-sm-6.col-xs-12(style="padding-top:10px")
            h2 Aviso Legal
            h3
                a(href="/politicaDeCookies", target="_blank") Politica de Cookies

        div.col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3.col-xs-12(style="padding-top: 10px")
            h2 Web desarrollada por
            h3
                a(href="http://juanmanuellopezpazos.es", target="_blank") Juan Manuel López Pazos