header(data-ng-controller="NavbarController")
    nav.navbar.navbar-fixed-top.navbar-default.navbar-qdb.navbar-euromillones.fondoMorado
        div.navbar-inner
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                        span.sr-only Cambiar la navegación
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(href="/", title="Inicio").navbar-brand.white.middle.euromillones Inicio
                    ul.nav.navbar-nav.navbar-right.hidden-lg.hidden-md.hidden-sm
                        li(style="float: right; padding-right: 15px")
                            a.euromillones(href="https://github.com/jualoppaz/pronostigol", title="Repositorio en GitHub", target="_blank", data-ng-cloak)
                                i.fa.fa-github
                        li(style="float: right")
                            a.euromillones(href="https://twitter.com/pronostigolesp", title="Cuenta de Twitter", target="_blank", data-ng-cloak)
                                i.fa.fa-twitter
                div.collapse.navbar-collapse.fondoMorado(role="navigation")
                    ul.nav.navbar-nav
                        li
                            a.euromillones(href="/euromillones", title="Euromillones") Euromillones
                        li
                            a.euromillones(href="/euromillones/sorteos", title="Sorteos") Sorteos
                        li
                            a.euromillones(href="/euromillones/estadisticas", title="Estadísticas") Estadísticas
                        li
                            a.euromillones(href="/contacto", title="Contacto", target="_blank") Contacto
                        li.hidden-lg.hidden-md.hidden-sm(data-ng-show="usuarioEstaLogueado")
                            a.euromillones(href="#", title="Cerrar sesión", data-ng-click="cerrarSesion()") Cerrar sesión

                    ul.nav.navbar-nav.navbar-right.hidden-xs
                        li
                            a.euromillones(href="https://twitter.com/pronostigolesp", title="Cuenta de Twitter", target="_blank", data-ng-cloak)
                                i.fa.fa-twitter
                        li
                            a.euromillones(href="https://github.com/jualoppaz/pronostigol", title="Repositorio en GitHub", target="_blank", data-ng-cloak)
                                i.fa.fa-github
                        li(data-ng-show="usuarioEstaLogueado", style="margin-left:15px", data-ng-cloak)
                            a.btn.btn-euromillones.btn-login(href="#", title="Cerrar sesión", role="button", data-ng-click="cerrarSesion()") Cerrar sesión
