div.table-responsive(style="margin-top: 15px", ng-if="mostrar.tablaAparicionesPorParejaDeEstrellas", ng-cloak)
    table.table.table-bordered.col-md-12.col-sm-12.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorParejaDeEstrellasSegun('estrellas'); consultarEstandar()", ng-bind-template="Estrellas", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorParejaDeEstrellas == 'estrellas' && !ordenAparicionesPorParejaDeEstrellas").fa.fa-caret-up
                    span(ng-if="criterioOrdenacionAparicionesPorParejaDeEstrellas == 'estrellas' && ordenAparicionesPorParejaDeEstrellas").fa.fa-caret-down
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorParejaDeEstrellasSegun('apariciones'); consultarEstandar()", ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorParejaDeEstrellas == 'apariciones' && ordenAparicionesPorParejaDeEstrellas").fa.fa-caret-down
                    span(ng-if="criterioOrdenacionAparicionesPorParejaDeEstrellas == 'apariciones' && !ordenAparicionesPorParejaDeEstrellas").fa.fa-caret-up


        tbody
            tr(ng-repeat="parejaDeEstrellas in aparicionesPorParejaDeEstrellas")
                td
                    span.badge.badge-azul(ng-repeat="estrella in parejaDeEstrellas.estrellas", ng-bind-template="{{printNumber(estrella.numero)}}")
                td(ng-bind-template="{{parejaDeEstrellas.apariciones}}")