div.table-responsive(style="margin-top: 15px", ng-show="mostrar.tablaAparicionesPorParejasDeEstrellas", ng-cloak)
    table.table.table-bordered.col-md-12.col-sm-12.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorParejasDeEstrellasSegun('estrellasString')", ng-bind-template="Estrellas", style="padding-right: 15px")
                    span(ng-show="criterioOrdenacionAparicionesPorParejasDeEstrellas == 'estrellasString' && !ordenAparicionesPorParejasDeEstrellas").fa.fa-caret-up
                    span(ng-show="criterioOrdenacionAparicionesPorParejasDeEstrellas == 'estrellasString' && ordenAparicionesPorParejasDeEstrellas").fa.fa-caret-down
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorParejasDeEstrellasSegun('apariciones')", ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(ng-show="criterioOrdenacionAparicionesPorParejasDeEstrellas == 'apariciones' && ordenAparicionesPorParejasDeEstrellas").fa.fa-caret-down
                    span(ng-show="criterioOrdenacionAparicionesPorParejasDeEstrellas == 'apariciones' && !ordenAparicionesPorParejasDeEstrellas").fa.fa-caret-up


        tbody
            // Implementacion anterior
            //tr(ng-repeat="(key, value) in aparicionesPorParejasDeEstrellas | orderBy:criterioOrdenacionAparicionesPorParejasDeEstrellas:ordenAparicionesPorParejasDeEstrellas")
                td(ng-bind-template="{{key}}")
                td(ng-bind-template="{{value}}")

            //pre {{aparicionesPorParejasDeEstrellas}}

            tr(ng-repeat="parejaDeEstrellas in aparicionesPorParejasDeEstrellas | orderBy:[criterioOrdenacionAparicionesPorParejasDeEstrellas, criterioAlternativoOrdenacionAparicionesPorParejasDeEstrellas]:ordenAparicionesPorParejasDeEstrellas")

                td(ng-show="criterioOrdenacionAparicionesPorParejasDeEstrellas == 'apariciones' && $index >=1 && ordenAparicionesPorParejasDeEstrellas", ng-cloak)
                    span.badge.badge-rojo(ng-repeat="estrella in parejaDeEstrellas.estrellas", ng-bind-template="{{estrella.numero}}", ng-show="estrella.numero.toString().length == 2")
                td(ng-show="criterioOrdenacionAparicionesPorParejasDeEstrellas == 'apariciones' && $index == 0 && ordenAparicionesPorParejasDeEstrellas", ng-cloak)
                    span.badge.badge-verde(ng-repeat="estrella in parejaDeEstrellas.estrellas", ng-bind-template="{{estrella.numero}}", ng-show="estrella.numero.toString().length == 2")
                td(ng-show="criterioOrdenacionAparicionesPorParejasDeEstrellas == 'apariciones' && $index <66 && !ordenAparicionesPorParejasDeEstrellas", ng-cloak)
                    span.badge.badge-rojo(ng-repeat="estrella in parejaDeEstrellas.estrellas", ng-bind-template="{{estrella.numero}}", ng-show="estrella.numero.toString().length == 2")
                td(ng-show="criterioOrdenacionAparicionesPorParejasDeEstrellas == 'apariciones' && $index == 66 && !ordenAparicionesPorParejasDeEstrellas", ng-cloak)
                    span.badge.badge-verde(ng-repeat="estrella in parejaDeEstrellas.estrellas", ng-bind-template="{{estrella.numero}}", ng-show="estrella.numero.toString().length == 2")
                td(ng-show="criterioOrdenacionAparicionesPorParejasDeEstrellas == 'estrellasString'", ng-cloak)
                    span.badge.badge-azul(ng-repeat="estrella in parejaDeEstrellas.estrellas", ng-bind-template="{{estrella.numero}}", ng-show="estrella.numero.toString().length == 2")

                td(ng-bind-template="{{parejaDeEstrellas.apariciones}}")


