div.table-responsive(style="margin-top: 15px", ng-if="mostrar.tablaAparicionesPorEstrella", ng-cloak)
    table.table.table-bordered.col-md-12.col-sm-12.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorEstrellaSegun('estrella'); consultarEstandar()", ng-bind-template="Estrellas", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorEstrella == 'estrella' && !ordenAparicionesPorEstrella").fa.fa-caret-up
                    span(ng-if="criterioOrdenacionAparicionesPorEstrella == 'estrella' && ordenAparicionesPorEstrella").fa.fa-caret-down
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorEstrellaSegun('apariciones'); consultarEstandar()", ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorEstrella == 'apariciones' && ordenAparicionesPorEstrella").fa.fa-caret-down
                    span(ng-if="criterioOrdenacionAparicionesPorEstrella == 'apariciones' && !ordenAparicionesPorEstrella").fa.fa-caret-up
        tbody
            tr(ng-repeat="item in aparicionesPorEstrella")
                td
                    span.badge.badge-azul(ng-bind-template="{{printNumber(item.estrella)}}")
                td(ng-bind-template="{{item.apariciones}}")