div.table-responsive(style="margin-top: 15px", data-ng-if="mostrar.tablaAparicionesPorResultadoConEstrellas", data-ng-cloak)
    table.table.table-bordered.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorResultadoConEstrellasSegun('result'); consultarEstandar()", data-ng-bind-template="Resultado", style="padding-right: 15px")
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultadoConEstrellas == 'result' && !ordenAparicionesPorResultadoConEstrellas").fa.fa-caret-up
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultadoConEstrellas == 'result' && ordenAparicionesPorResultadoConEstrellas").fa.fa-caret-down
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorResultadoConEstrellasSegun('occurrences'); consultarEstandar()", data-ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultadoConEstrellas == 'occurrences' && ordenAparicionesPorResultadoConEstrellas").fa.fa-caret-down
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultadoConEstrellas == 'occurrences' && !ordenAparicionesPorResultadoConEstrellas").fa.fa-caret-up

        tbody
            tr(data-ng-repeat="item in aparicionesPorResultadoConEstrellas")
                td
                    span.badge.badge-azul(data-ng-repeat="numero in item.resultado", data-ng-bind-template="{{printNumber(numero.numero)}}")
                    span.badge.badge-azul(data-ng-repeat="estrella in item.estrellas", data-ng-bind-template="E: {{printNumber(estrella.numero)}}")
                td(data-ng-bind-template="{{item.apariciones}}")