div.table-responsive(style="margin-top: 15px", data-ng-if="mostrar.tablaAparicionesPorEstrella", data-ng-cloak)
    table.table.table-bordered.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorEstrellaSegun('star'); consultarEstandar()", data-ng-bind-template="Estrellas", style="padding-right: 15px")
                    span(data-ng-if="criterioOrdenacionAparicionesPorEstrella == 'star' && !ordenAparicionesPorEstrella").fa.fa-caret-up
                    span(data-ng-if="criterioOrdenacionAparicionesPorEstrella == 'star' && ordenAparicionesPorEstrella").fa.fa-caret-down
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorEstrellaSegun('occurrences'); consultarEstandar()", data-ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(data-ng-if="criterioOrdenacionAparicionesPorEstrella == 'occurrences' && ordenAparicionesPorEstrella").fa.fa-caret-down
                    span(data-ng-if="criterioOrdenacionAparicionesPorEstrella == 'occurrences' && !ordenAparicionesPorEstrella").fa.fa-caret-up
        tbody
            tr(data-ng-repeat="item in aparicionesPorEstrella")
                td
                    span.badge.badge-azul(data-ng-bind-template="{{printNumber(item.estrella)}}")
                td(data-ng-bind-template="{{item.apariciones}}")