div.table-responsive(style="margin-top: 15px", data-ng-if="mostrar.tablaAparicionesPorResultado", data-ng-cloak)
    table.table.table-bordered.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorResultadoSegun('result'); consultarEstandar()", data-ng-bind-template="Resultado")
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultado == 'result' && !ordenAparicionesPorResultado").fa.fa-caret-up
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultado == 'result' && ordenAparicionesPorResultado").fa.fa-caret-down
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorResultadoSegun('occurrences'); consultarEstandar()", data-ng-bind-template="Apariciones")
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultado == 'occurrences' && ordenAparicionesPorResultado").fa.fa-caret-down
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultado == 'occurrences' && !ordenAparicionesPorResultado").fa.fa-caret-up

        tbody
            tr(data-ng-repeat="item in aparicionesPorResultado")
                td
                    span.badge.badge-azul(data-ng-repeat="numero in item.resultado", data-ng-bind-template="{{printNumber(numero.numero)}}")
                td(data-ng-bind-template="{{item.apariciones}}")