div.table-responsive(style="margin-top: 15px", ng-show="mostrar.tablaAparicionesPorEstrellas", ng-cloak)
    table.table.table-bordered.col-md-12.col-sm-12.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorEstrellasSegun('estrella')", ng-bind-template="Estrellas", style="padding-right: 15px")
                    span(ng-show="criterioOrdenacionAparicionesPorEstrellas == 'estrella' && !ordenAparicionesPorEstrellas").fa.fa-caret-up
                    span(ng-show="criterioOrdenacionAparicionesPorEstrellas == 'estrella' && ordenAparicionesPorEstrellas").fa.fa-caret-down
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorEstrellasSegun('apariciones')", ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(ng-show="criterioOrdenacionAparicionesPorEstrellas == 'apariciones' && ordenAparicionesPorEstrellas").fa.fa-caret-down
                    span(ng-show="criterioOrdenacionAparicionesPorEstrellas == 'apariciones' && !ordenAparicionesPorEstrellas").fa.fa-caret-up


        tbody
            // Implementacion anterior
            //tr(ng-repeat="(key, value) in aparicionesPorEstrellas | orderBy:criterioOrdenacionAparicionesPorEstrellas:ordenAparicionesPorEstrellas")
                td(ng-bind-template="{{key}}")
                td(ng-bind-template="{{value}}")

            tr(ng-repeat="item in aparicionesPorEstrellas | orderBy:[criterioOrdenacionAparicionesPorEstrellas, criterioAlternativoOrdenacionAparicionesPorEstrellas]:ordenAparicionesPorEstrellas")
                td(ng-show="criterioOrdenacionAparicionesPorEstrellas == 'apariciones' && $index >=1 && ordenAparicionesPorEstrellas", ng-cloak)
                    span.badge.badge-rojo(ng-bind-template="{{item.estrella}}")
                td(ng-show="criterioOrdenacionAparicionesPorEstrellas == 'apariciones' && $index == 0 && ordenAparicionesPorEstrellas", ng-cloak)
                    span.badge.badge-verde(ng-bind-template="{{item.estrella}}")
                td(ng-show="criterioOrdenacionAparicionesPorEstrellas == 'apariciones' && $index <11 && !ordenAparicionesPorEstrellas", ng-cloak)
                    span.badge.badge-rojo(ng-bind-template="{{item.estrella}}")
                td(ng-show="criterioOrdenacionAparicionesPorEstrellas == 'apariciones' && $index == 11 && !ordenAparicionesPorEstrellas", ng-cloak)
                    span.badge.badge-verde(ng-bind-template="{{item.estrella}}")
                td(ng-show="criterioOrdenacionAparicionesPorEstrellas == 'estrella'", ng-cloak, ng-bind-template="{{item.estrella}}")

                td(ng-bind-template="{{item.apariciones}}")


