div.modal.fade#modal-editar-comentario(data-backdrop="static", data-keyboard="false", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title Edición de comentario
            div.modal-body
                form
                    div.alert.alert-info Edite su comentario.
                    textarea.form-control(row="3", ng-model="comentarioNuevo.texto")#comentario-modal
            div.modal-footer
                button(type="button", data-dismiss="modal", ng-click="editarComentarioDefinitivamente()").btn.btn-primary#confirmarEliminacion Aceptar