// Modal tras hacer logout
div.modal.fade#modal-realizarPedido(data-backdrop="static", data-keyboard="false", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog(style="width: 850px")
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title#modalTitleRealizarPedido
            div.modal-body
                form.form-horizontal(role="form")
                    //div.alert.alert-info#modalTextRealizarPedido
                    div.form-group
                        label(for="direccion").col-sm-2.control-label Dirección
                        div.col-sm-10
                            input(type="text", placeholder="", data-ng-model="direccion").form-control#direccion

                    div.form-group
                        label(for="telefono").col-sm-2.control-label Teléfono
                        div.col-sm-10
                            input(type="text", placeholder="", data-ng-model="telefono").form-control#telefono


            div.modal-footer
                div(style="text-align:center").alert.alert-danger Si confirma el pedido se le cobrará el importe del mismo en el momento de la entrega.
                button(type="button", data-dismiss="modal", data-ng-click="confirmacionDePedido()").btn.btn-eathub#comprar Confirmar