// Modal tras hacer login

div.modal.fade#modal-login(data-backdrop="static", data-keyboard="false", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", ng-click="redirigirTrasLogin()", aria-hidden="true") &times;
                h4.modal-title#modalTitleLogin
            div.modal-body
                form
                    div.alert.alert-info#modalTextLogin
            div.modal-footer
                button(type="button", data-dismiss="modal", ng-click="redirigirTrasLogin()").btn.btn-primary#confirmarEliminacion Aceptar