div.modal.fade#modal-usuarioYaExiste(data-backdrop="static", data-keyboard="false", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title#modalTitleUsuarioYaExiste
            div.modal-body
                form
                    div.alert.alert-danger#modalTextUsuarioYaExiste
            div.modal-footer
                button(type="button", data-dismiss="modal").btn.btn-primary#confirmarEliminacion Aceptar

