doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/font-awesome.css")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/starter-template.css")
        link(rel="stylesheet", href="/css/pronostigol.css")
        link(rel="stylesheet", href="/css/dashboard.css")
        block head
    body
        block content
        block scripts