div#footer(style="background-color: #040eb8 !important; width: 100%")
    div.navbar.navbar-fixed-bottom
        div.navbar-inner
            div.container
                ul.nav
                    li
                        a(href="#") Menu 1
                    li
                        a(href="#") Menu 2