div.table-responsive(style="margin-top: 15px", data-ng-if="mostrar.tablaAparicionesPorResultadoConReintegro", data-ng-cloak)
    table.table.table-bordered.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorResultadoConReintegroSegun('result'); consultarEstandar()", data-ng-bind-template="Resultado")
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultadoConReintegro === 'result' && !ordenAparicionesPorResultadoConReintegro").fa.fa-caret-up
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultadoConReintegro === 'result' && ordenAparicionesPorResultadoConReintegro").fa.fa-caret-down
                th
                    a.columnaOrdenable(data-ng-click="ordenarAparicionesPorResultadoConReintegroSegun('occurrences'); consultarEstandar()", data-ng-bind-template="Apariciones")
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultadoConReintegro === 'occurrences' && ordenAparicionesPorResultadoConReintegro").fa.fa-caret-down
                    span(data-ng-if="criterioOrdenacionAparicionesPorResultadoConReintegro === 'occurrences' && !ordenAparicionesPorResultadoConReintegro").fa.fa-caret-up

        tbody
            tr(data-ng-repeat="item in aparicionesPorResultadoConReintegro")
                td
                    span.badge.badge-azul(data-ng-repeat="numero in item.resultado", data-ng-bind-template="{{printNumber(numero.numero)}}")
                    span.badge.badge-azul(style="margin-left: 15px", data-ng-bind-template="R {{item.reintegro || '-'}}")
                td(data-ng-bind-template="{{item.apariciones}}")