//pre {{mostrar.tablaAparicionesPorNumero}}

//pre Orden: {{ordenAparicionesPorNumero}}

//pre Criterio: {{criterioOrdenacionAparicionesPorNumero}}


div.table-responsive(style="margin-top: 15px", ng-show="mostrar.tablaAparicionesPorNumero", ng-cloak)
    table.table.table-bordered.col-md-12.col-sm-12.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorNumeroSegun('numero')", ng-bind-template="Número", style="padding-right: 15px")
                    span(ng-show="criterioOrdenacionAparicionesPorNumero == 'numero' && !ordenAparicionesPorNumero").fa.fa-caret-up
                    span(ng-show="criterioOrdenacionAparicionesPorNumero == 'numero' && ordenAparicionesPorNumero").fa.fa-caret-down
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorNumeroSegun('apariciones')", ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(ng-show="criterioOrdenacionAparicionesPorNumero == 'apariciones' && ordenAparicionesPorNumero").fa.fa-caret-down
                    span(ng-show="criterioOrdenacionAparicionesPorNumero == 'apariciones' && !ordenAparicionesPorNumero").fa.fa-caret-up


        tbody
            // Implementacion anterior
            //tr(ng-repeat="(key, value) in aparicionesPorNumero | orderBy:criterioOrdenacionAparicionesPorNumero:ordenAparicionesPorNumero")
                td(ng-bind-template="{{key}}")
                td(ng-bind-template="{{value}}")

            tr(ng-repeat="item in aparicionesPorNumero | orderBy:[criterioOrdenacionAparicionesPorNumero, criterioAlternativoOrdenacionAparicionesPorNumero]:ordenAparicionesPorNumero")
                td(ng-show="criterioOrdenacionAparicionesPorNumero == 'apariciones' && $index >=6 && ordenAparicionesPorNumero", ng-cloak)
                    span.badge.badge-rojo(ng-bind-template="{{item.numero}}", ng-show="item.numero.toString().length > 1", ng-cloak)
                    span.badge.badge-rojo(ng-bind-template="0{{item.numero}}", ng-show="item.numero.toString().length == 1", ng-cloak)
                td(ng-show="criterioOrdenacionAparicionesPorNumero == 'apariciones' && $index <6 && ordenAparicionesPorNumero", ng-cloak)
                    span.badge.badge-verde(ng-bind-template="{{item.numero}}", ng-show="item.numero.toString().length > 1", ng-cloak)
                    span.badge.badge-verde(ng-bind-template="0{{item.numero}}", ng-show="item.numero.toString().length == 1", ng-cloak)
                td(ng-show="criterioOrdenacionAparicionesPorNumero == 'apariciones' && $index <43 && !ordenAparicionesPorNumero", ng-cloak)
                    span.badge.badge-rojo(ng-bind-template="{{item.numero}}", ng-show="item.numero.toString().length > 1", ng-cloak)
                    span.badge.badge-rojo(ng-bind-template="0{{item.numero}}", ng-show="item.numero.toString().length == 1", ng-cloak)
                td(ng-show="criterioOrdenacionAparicionesPorNumero == 'apariciones' && $index >=43 && !ordenAparicionesPorNumero", ng-cloak)
                    span.badge.badge-verde(ng-bind-template="{{item.numero}}", ng-show="item.numero.toString().length > 1", ng-cloak)
                    span.badge.badge-verde(ng-bind-template="0{{item.numero}}", ng-show="item.numero.toString().length == 1", ng-cloak)
                td(ng-show="criterioOrdenacionAparicionesPorNumero == 'numero'", ng-cloak)
                    span(ng-bind-template="{{item.numero}}", ng-show="item.numero.toString().length > 1")
                    span(ng-bind-template="0{{item.numero}}", ng-show="item.numero.toString().length == 1")
                td(ng-bind-template="{{item.apariciones}}")


