div.table-responsive(style="margin-top: 15px", ng-if="mostrar.tablaAparicionesPorNumero", ng-cloak)
    table.table.table-bordered.col-md-12.col-sm-12.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorNumeroSegun('numero')", ng-bind-template="Número", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorNumero == sortFunction_number && !ordenAparicionesPorNumero").fa.fa-caret-up
                    span(ng-if="criterioOrdenacionAparicionesPorNumero == sortFunction_number && ordenAparicionesPorNumero").fa.fa-caret-down
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorNumeroSegun('apariciones')", ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorNumero == sortFunction_numberOccurrences && ordenAparicionesPorNumero").fa.fa-caret-down
                    span(ng-if="criterioOrdenacionAparicionesPorNumero == sortFunction_numberOccurrences && !ordenAparicionesPorNumero").fa.fa-caret-up


        tbody
            tr(ng-repeat="item in numerosBolas | orderBy:[criterioOrdenacionAparicionesPorNumero, criterioAlternativoOrdenacionAparicionesPorNumero]:ordenAparicionesPorNumero")
                td(ng-if="criterioOrdenacionAparicionesPorNumero == sortFunction_numberOccurrences && $index >=6 && ordenAparicionesPorNumero", ng-cloak)
                    span.badge.badge-rojo(ng-bind-template="{{printNumber(item)}}")
                td(ng-if="criterioOrdenacionAparicionesPorNumero == sortFunction_numberOccurrences && $index <6 && ordenAparicionesPorNumero", ng-cloak)
                    span.badge.badge-verde(ng-bind-template="{{printNumber(item)}}")
                td(ng-if="criterioOrdenacionAparicionesPorNumero == sortFunction_numberOccurrences && $index <43 && !ordenAparicionesPorNumero", ng-cloak)
                    span.badge.badge-rojo(ng-bind-template="{{printNumber(item)}}")
                td(ng-if="criterioOrdenacionAparicionesPorNumero == sortFunction_numberOccurrences && $index >=43 && !ordenAparicionesPorNumero", ng-cloak)
                    span.badge.badge-verde(ng-bind-template="{{printNumber(item)}}")
                td(ng-if="criterioOrdenacionAparicionesPorNumero == sortFunction_number", ng-cloak)
                    span(ng-bind-template="{{printNumber(item)}}")
                td(ng-bind-template="{{sortFunction_numberOccurrences(item)}}")


