div.panel.panel-body.col-md-8.col-md-offset-2.offset-comment(ng-controller="ComentariosController", style="padding-left:30px; padding-right: 25px")
    h1.red Comentarios
    div(ng-show="invalidComment()").alert.alert-danger
        | El comentario no es válido. No puede haber palabras de más de 27 caracteres.

    div(ng-show="!hayComentarios() && usuarioEstaLogueado").alert.alert-info
        | No hay comentarios. Sea el primero en comentar.
    div(ng-show="!hayComentarios() && !usuarioEstaLogueado").alert.alert-info
        | No hay comentarios.
    div(ng-show="comentarioEditadoCorrectamente").alert.alert-success
        | Comentario editado correctamente.
    div(ng-show="comentarioEliminadoCorrectamente").alert.alert-success
        | Comentario eliminado correctamente.
    div(ng-repeat="comentario in producto.comments")
        div.panel.panel-primary
            div.panel-heading(style="overflow: auto")
                div.panel-title(ng-bind-template="{{comentario.user}}", style="margin-right: 10px").pull-left
                div.panel-title(ng-bind-template="({{comentario.date | date:'dd/MM/yyyy HH:mm'}} h)").pull-left
                div.panel-title.pull-right
                    i.fa.fa-1.fa-pencil(ng-click="editarComentario(comentario)", ng-show="usuarioLogueado.user == comentario.user", style="color:white; margin-right: 10px").pointer
                    i.fa.fa-1.fa-trash-o(ng-click="eliminarComentario(comentario)", ng-show="usuarioLogueado.user == comentario.user", style="color:white").pointer

            div.panel-body.adapt
                i.fa.fa-1.fa-quote-left.pull-left
                h3(ng-bind-template="{{comentario.text}}").pull-left.product-comment
                i.fa.fa-quote-right.pull-left
    form(ng-show="usuarioEstaLogueado")
        textarea(placeholder="Escribe un comentario", ng-model="comentario").form-control.nuevo-comentario#comentario
        div.centrar(style="margin-top:25px")
            a.btn.btn-default.btn-eathub-red(ng-click="comentar()").btn.btn-danger.btn-large#comentar Enviar


    include ../modals/editarComentario
    include ../modals/eliminarComentario

include ../modals/comentarioRealizado
include ../modals/comentarioEditado
