nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation", ng-show="mostrarAvisoCookies()", ng-cloak).avisoCookies
    div.container
        | Este sitio web utiliza cookies, tanto propias como de terceros, para recopilar
        | información estadística sobre su navegación y mostrarle publicidad relacionada con
        | sus preferencias, generada a partir de sus pautas de navegación. Si continúa
        | navegando consideramos que acepta su uso. Para más información haga click
        | <a class="abel" href="/politicaDeCookies">aquí</a>.
        | <button ng-click="aceptarCookies()" class="btn btn-sm btn-qdb">Aceptar</button>