div.footer#footer
    div.container-fluid(data-ng-controller="FooterController")
        div.row
            div.col-sm-6.col-xs-12.text-center(style="padding-top:10px")
                p.footer-column-title Pronostigol
                ul#footer-miscellaneous.list-unstyled
                    li
                        a(href="/privacidad", title="Privacidad y cookies") Privacidad y cookies
                    li
                        a(href="/preguntasFrecuentes", title="Preguntas frecuentes") Preguntas frecuentes
                    li
                        a(href="/acerca-de", title="Acerca de") Acerca de
                    li
                        a(href="/docs", title="Documentaci贸n de API Rest", target="_blank") Documentaci贸n de API Rest
            div.col-sm-6.col-xs-12.text-center(style="padding-top:10px")
                p.footer-column-title Juegos
                ul#sections-in-footer.list-unstyled
                    li
                        a(href="/quiniela", title="Quiniela") Quiniela
                    li
                        a(href="/bonoloto", title="Bonoloto") Bonoloto
                    li
                        a(href="/primitiva", title="La Primitiva") La Primitiva
                    li
                        a(href="/gordo", title="El Gordo de la Primitiva") El Gordo de la Primitiva
                    li
                        a(href="/euromillones", title="Euromillones") Euromillones
        div.row
            div.col-xs-12.text-center(style="padding-top: 10px")
                ul#social-links.list-inline
                    li
                        a(href="https://www.facebook.com/pronostigol.es", title="P谩gina de Facebook", target="_blank")
                            i.fa.fa-facebook-square.fa-2x
                    li
                        a(href="https://twitter.com/pronostigolesp", title="Cuenta de Twitter", target="_blank")
                            i.fa.fa-twitter-square.fa-2x
                    li
                        a(href="https://github.com/jualoppaz/pronostigol", title="Repositorio en GitHub", target="_blank")
                            i.fa.fa-github-square.fa-2x
            div.col-xs-12.text-center
                ul.list-inline
                    li(style="vertical-align: top")
                        div.fb-like(data-href="https://www.facebook.com/pronostigol.es", data-layout="button", data-action="like", data-size="small", data-show-faces="false", data-share="false")
                    li(style="vertical-align: top")
                        a.twitter-share-button(href="https://twitter.com/share?ref_src=twsrc%5Etfw", data-show-count="false", data-text=" Pronostigol | Estad铆sticas de Loter铆as y Apuestas del Estado", data-url="http://www.pronostigol.es", data-via="pronostigolesp") Twittear

            div.col-xs-12.text-center(style="padding-top: 10px")
                span#copyright-line
                    i.fa.fa-copyright(aria-hidden="true")
                    span#copyright 2014-2019 Pronostigol, Desarrollado por
                    a(href="http://www.juanmanuellopezpazos.es", title="Juan Manuel L贸pez Pazos", target="_blank") Juan Manuel L贸pez Pazos