div.table-responsive(style="margin-top: 15px", ng-if="mostrar.tablaAparicionesPorResultadoConNumeroClave", ng-cloak)
    table.table.table-bordered.col-md-12.col-sm-12.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorResultadoConNumeroClaveSegun('result'); consultarEstandar()", ng-bind-template="Resultado", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorResultadoConNumeroClave === 'result' && !ordenAparicionesPorResultadoConNumeroClave").fa.fa-caret-up
                    span(ng-if="criterioOrdenacionAparicionesPorResultadoConNumeroClave === 'result' && ordenAparicionesPorResultadoConNumeroClave").fa.fa-caret-down
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorResultadoConNumeroClaveSegun('occurrences'); consultarEstandar()", ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorResultadoConNumeroClave === 'occurrences' && ordenAparicionesPorResultadoConNumeroClave").fa.fa-caret-down
                    span(ng-if="criterioOrdenacionAparicionesPorResultadoConNumeroClave === 'occurrences' && !ordenAparicionesPorResultadoConNumeroClave").fa.fa-caret-up

        tbody
            tr(ng-repeat="item in aparicionesPorResultadoConNumeroClave")
                td
                    span.badge.badge-azul(ng-repeat="numero in item.resultado", ng-bind-template="{{printNumber(numero.numero)}}")
                    span.badge.badge-azul(style="margin-left: 15px", ng-bind-template="R {{item.numeroClave || '-'}}")
                td(ng-bind-template="{{item.apariciones}}")



