div.table-responsive(style="margin-top: 15px", ng-if="mostrar.tablaAparicionesPorNumeroClave", ng-cloak)
    table.table.table-bordered.col-md-12.col-sm-12.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorNumeroClaveSegun('specialNumber'); consultarEstandar()", ng-bind-template="Numero Clave", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorNumeroClave === 'specialNumber' && !ordenAparicionesPorNumeroClave").fa.fa-caret-up
                    span(ng-if="criterioOrdenacionAparicionesPorNumeroClave === 'specialNumber' && ordenAparicionesPorNumeroClave").fa.fa-caret-down
                th
                    a.columnaOrdenable(ng-click="ordenarAparicionesPorNumeroClaveSegun('occurrences'); consultarEstandar()", ng-bind-template="Apariciones", style="padding-right: 15px")
                    span(ng-if="criterioOrdenacionAparicionesPorNumeroClave === 'occurrences' && ordenAparicionesPorNumeroClave").fa.fa-caret-down
                    span(ng-if="criterioOrdenacionAparicionesPorNumeroClave === 'occurrences' && !ordenAparicionesPorNumeroClave").fa.fa-caret-up

        tbody
            tr(ng-repeat="item in aparicionesPorNumeroClave")
                td
                    span.badge.badge-azul(ng-bind-template="{{item.numeroClave}}")
                td(ng-bind-template="{{item.apariciones}}")


