div.table-responsive(style="margin-top: 15px", data-ng-if="mostrar.tablaUltimaAparicionPorNumeroClave", data-ng-cloak)
    table.table.table-bordered.col-xs-12
        thead
            tr
                th
                    a.columnaOrdenable(data-ng-click="ordenarUltimaAparicionPorNumeroClaveSegun('specialNumber'); consultarEstandar()", data-ng-bind-template="Número Clave (Reintegro)")
                    span(data-ng-if="criterioOrdenacionUltimaAparicionPorNumeroClave == 'specialNumber' && !ordenUltimaAparicionPorNumeroClave").fa.fa-caret-up
                    span(data-ng-if="criterioOrdenacionUltimaAparicionPorNumeroClave == 'specialNumber' && ordenUltimaAparicionPorNumeroClave").fa.fa-caret-down
                th
                    a.columnaOrdenable(data-ng-click="ordenarUltimaAparicionPorNumeroClaveSegun('date'); consultarEstandar()", data-ng-bind-template="Fecha")
                    span(data-ng-if="criterioOrdenacionUltimaAparicionPorNumeroClave == 'date' && ordenUltimaAparicionPorNumeroClave").fa.fa-caret-down
                    span(data-ng-if="criterioOrdenacionUltimaAparicionPorNumeroClave == 'date' && !ordenUltimaAparicionPorNumeroClave").fa.fa-caret-up

        tbody
            tr(data-ng-repeat="item in ultimaAparicionPorNumeroClave" data-ng-if="item.numeroClave !== null")
                td
                    span.badge.badge-azul(data-ng-bind-template="{{item.numeroClave}}")
                td(data-ng-bind-template="{{item.fecha | date:'dd/MM/yyyy'}}")